{% extends "salespipes/base.html" %}
{% load humanize %}

{% block title %}
Pipeline Detail - Job {{ object.job_candidate.job.reference_number }}
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Job {{ object.job_candidate.job.reference_number }} - Pipeline Detail</h1>    
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-tabs
          v-model="tab"
          fixed-tabs>
          
          {% include "_includes/v_tab.html" %}

          <v-tabs-items v-model="tab">
            <v-tab-item id="Pipeline Detail">
              <v-simple-table>
                <table>
                  <tbody>
                    <tr>
                      <th>Date:</th>
                      <td>{{ object.date|date:display_date_format }}</td>
                    </tr>
                    <tr>
                      <th>Job Reference Number:</th>
                      <td><a href="{% url 'jobs:detail' object.job_candidate.job_id %}" title="view job detail">{{ object.job_candidate.job }}</a></td>
                    </tr>
                    <tr>
                      <th>Status:</th>
                      <td>{{ object.status }}</td>
                    </tr>
                    <tr>
                      <th>Recruitment Term:</th>
                      <td>{{ object.recruitment_term }}</td>
                    </tr>
                    <tr>
                      <th>Recruitment Rate:</th>
                      <td>{{ object.recruitment_rate }}</td>
                    </tr>
                    <tr>
                      <th>Base Amount:</th>
                      <td>{{ object.base_amount|intcomma }}</td>
                    </tr>
                    <tr>
                      <th>Potential Income:</th>
                      <td>{{ object.potential_income|intcomma }}</td>
                    </tr>
                    <tr>
                      <th>Succesful Date:</th>
                      <td>{{ object.successful_date|date:display_date_format }}</td>
                    </tr>
                    <tr>
                      <th>Invoice Date:</th>
                      <td>{{ object.invoice_date|date:display_date_format }}</td>
                    </tr>
                    <tr>
                      <th>Invoice Number:</th>
                      <td>{{ object.invoice_number }}</td>
                    </tr>
                    <tr>
                      <th>Invoice Amount:</th>
                      <td>{{ object.invoice_amount|intcomma }}</td>
                    </tr>
                    <tr>
                      <th>VAT:</th>
                      <td>{{ object.vat|intcomma }}</td>
                    </tr>
                  </tbody>
                </table>
              </v-simple-table>

              {% if perms.commissions.add_commission %}
                <v-btn
                  class="my-2"
                  block
                  outlined
                  color="primary"
                  href="{% url 'commissions:new' object.pk %}">Create a commission</v-btn>
              {% endif %}

                    <v-btn
                      block
                      color="primary"
                      href="{% url 'salespipes:edit' object.pk %}"
                      {% if edit_not_allowed %}disabled{% endif %}>Edit Pipeline</v-btn>
            </v-tab-item>

            <v-tab-item id="Job Candidate">
              {% if candidate %}
                {% include "jobs/includes/jobcandidate_detail_table.html" with object=candidate %}
              {% else %}
                <p>No Candidate.</p>
              {% endif %}
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Pipeline',
          disabled: false,
          href: '{% url "salespipes:list" %}',
        },
        {
          text: '{{ object.job_candidate.job.reference_number }}',
        },
      ],
      tab: null,
      tabs: [
        {
          tab: 'Pipeline Detail',
          icon: 'fas fa-filter',  
        },
        {
          tab: 'Job Candidate',
          icon: 'fas fa-user',  
        },
      ],
    }),

    mounted(){
      this.updateBreadcrumbs();
    },

  });
</script>  
{% endblock script %}