{% extends "salespipes/base.html" %}
{% load static %}

{% block title %}
Pipeline - New
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>New Pipeline</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" id="dataJobsChoices" value="{{ jobs }}">
          {% for error in form.errors %}
            <v-list-item>{{ error }}</v-list-item>
          {% endfor %}

          <v-autocomplete
            :items="jobs"
            label="Job"
            v-model.lazy="job"
            name='job'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-autocomplete
            :items="jobCandidates"
            label="Job Candidate"
            v-model.lazy="jobCandidate"
            name='job_candidate'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-input>
            <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}

{% if debug %}
  <script src="{% static "vendor/lodash/lodash.js" %}"></script>
  <script src="{% static "vendor/axios.min.js" %}"></script>
{% else %}
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endif %}

<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Pipeline',
          disabled: false,
          href: '{% url "salespipes:list" %}',
        },
        {
          text: 'New',
        }
      ],
      jobs: [],
      job: '{{ form.job.value }}',
      jobCandidates: [],
      jobCandidate: Number('{{ form.job_candidate.value }}'),
    }),

    watch: {
      job: function (){
        this.fetchJobCandidates();
      }
    },

    methods: {
      setJobChoices: function() {
        let data = document.getElementById('dataJobsChoices').value;
        this.jobs = JSON.parse(data);
      },
      fetchJobCandidates: function(){
        if (this.job){
          let url = `/api/job-candidates/?job=${this.job}`;
          let _this = this;
          axios.get(url)
            .then(function(response){
              data = response.data;
              // map data
              _this.jobCandidates = _.map(data, (value) => {
                return {
                  'text': value.candidate.name,
                  'value': value.id
                }
              })
            })
            .catch(function(error){
              console.log(error);
            });
        }
      },
    },

    beforeMount(){
      this.setJobChoices();
      this.updateBreadcrumbs();
    },

    mounted(){
      this.fetchJobCandidates();
    }

  });
</script>  
{% endblock script %}