{% extends "salespipes/base.html" %}
{% load static sekizai_tags %}

{% block title %}
{{ object.job_candidate.candidate.name }} ({{ object.job_candidate.job.reference_number }}) - Pipeline Edit
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.job_candidate.candidate.name }} ({{ object.job_candidate.job.reference_number }}) - Pipeline Edit</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" id="dataJobsChoices" value="{{ jobs }}">
          <input type="hidden" id="dataStatusChoices" value="{{ status_objects }}">
          {% if form.errors %}
            <p>{{form.errors}}</p>
          {% endif %}

          <v-text-field
            label="{{ form.date.label }}"
            outlined
            name="date"
            required
            type="date"
            value="{{ form.instance.date|date:'Y-m-d' }}">
          </v-text-field>

          <v-autocomplete
            :items="jobs"
            label="Job"
            v-model.lazy="job"
            disabled
            dense
            outlined>
          </v-autocomplete>

          <v-autocomplete
            :items="statusChoices"
            label="Status"
            v-model.lazy="status"
            name='status'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-autocomplete
            :items="jobCandidates"
            label="Job Candidate"
            v-model.lazy="jobCandidate"
            name='job_candidate'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-text-field
            outlined
            label="Recruitment Term"
            name="recruitment_term"
            type="number"
            step="0.00001"
            v-model.lazy="recruitmentTerm">
          </v-text-field>

          <v-text-field
            label="Recruitment Rate"
            outlined
            name="recruitment_rate"
            type="number"
            step="0.0000000001"
            v-model.lazy="recruitmentFee">
          </v-text-field>

          <v-text-field
            label="Base Amount"
            outlined
            name="base_amount"
            type="number"
            step="0.01"
            v-model.lazy="baseAmount">
          </v-text-field>

          <v-text-field
            label="Potential Income"
            outlined
            name="potential_income"
            type="number"
            step="0.01"
            v-model.lazy="potentialIncome">
          </v-text-field>

          <v-text-field
            label="Invoice Date"
            outlined
            name="invoice_date"
            type="date"
            value="{{ form.invoice_date.value|date:'Y-m-d' }}">
          </v-text-field>

          <v-text-field
            outlined
            label="Invoice Number"
            name="invoice_number"
            value="{{ form.invoice_number.value }}">
          </v-text-field>

          <v-text-field
            label="Invoice Amount"
            outlined
            disabled
            type="number"
            step="0.01"
            v-model.lazy="invoiceAmount">
          </v-text-field>

          <v-text-field
            label="VAT"
            outlined
            disabled
            type="number"
            step="0.01"
            v-model.lazy="vat">
          </v-text-field>

          <input type="hidden" name="invoice_amount" :value="invoiceAmount">
          <input type="hidden" name="vat" :value="vat">

          <v-input>
            <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let objectUrl = '{% url "salespipes:detail" object.pk %}';
      let objectText = '{{ object.job_candidate.candidate.name }} ({{ object.job_candidate.job.reference_number }})';
      let data = {
        job: '{{ job_id }}',
        jobCandidate: Number('{{ form.job_candidate.value }}'),
        status: '{{ form.status.value }}',
        recruitmentTerm: {{ form.recruitment_term.value }},
        recruitmentFee: {{ form.recruitment_rate.value }},
        baseAmount: {{ form.base_amount.value }},
        potentialIncome: {{ form.potential_income.value }},
        vatRate: {{ vat_rate }},
        vat: {{ form.vat.value }},
        invoiceAmount: {{ form.invoice_amount.value }},
      }
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/axios.min.js" %}"></script>
    {% else %}
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'salespipes/pipelineUpdate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}