{% extends "salespipes/base.html" %}
{% load humanize %}

{% block title %}
Pipeline
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Pipeline</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12">
        {% include "_includes/filter_date_from_and_to.html" %}
      </v-col>
      
      <v-col cols="12">
        <v-btn absolute right color="primary" href="{% url 'salespipes:new' %}">New</v-btn>
      </v-col>
      <v-col cols="12" class="text-center">
        <v-simple-table>
          {% include "salespipes/includes/pipeline_list_table.html" %}
        </v-simple-table>
      </v-col>

      <v-col cols="12">
        <v-container class="max-width">
          {% include "_includes/pagination.html" %}
        </v-container>
      </v-col> <!-- Pagination -->
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Pipeline',
        },
      ],
      page: {{ page_obj.number|default_if_none:0 }},
      pageLength: {{ paginator.num_pages|default_if_none:0 }},
    }),

    methods:{
      pageGoTo: function (page) {
        let url = '{% url "reports:pipeline_summary" %}';
        url = `${url}?page=${this.page}`;
        window.location.href = url;
      }
    },

    mounted(){
      this.updateBreadcrumbs();
    },

  });
</script>  
{% endblock script %}