{% extends "salespipes/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Pipeline - New
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>New Pipeline</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" id="dataJobsChoices" value="{{ jobs }}">
          {% for error in form.errors %}
            <v-list-item>{{ error }}</v-list-item>
          {% endfor %}

          <v-autocomplete
            :items="jobs"
            label="Job"
            v-model.lazy="job"
            name='job'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-autocomplete
            :items="jobCandidates"
            label="Job Candidate"
            v-model.lazy="jobCandidate"
            name='job_candidate'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-input>
            <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let data = {
        job: '{{ job_id }}',
        jobCandidate: Number('{{ form.job_candidate.value }}'),
      };
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/axios.min.js" %}"></script>
    {% else %}
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'salespipes/pipelineCreate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %} 