{% extends "salespipes/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Pipeline - New
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>New Pipeline</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post">
            {% csrf_token %}
            <input type="hidden" id="dataJobsChoices" value="{{ jobs }}">
          
            {% if form.errors %}
              {% include "_includes/errors.html" %}
            {% endif %}

            <div
              v-for="(field, index) in fields"
              :key="index">

                <template
                  v-if="field.fieldType.value == 'autocomplete'">
                    {% include "_includes/model_fields/autocomplete.html" %}
                  </template>
            </div>

          <v-input>
            <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </v-form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let data = {
        job: '{{ job_id }}',
        jobCandidate: Number('{{ form.job_candidate.value }}'),
      };
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/axios.min.js" %}"></script>
    {% else %}
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'salespipes/pipelineCreate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %} 