{% extends "salespipes/base.html" %}
{% load humanize %}

{% block title %}
Pipeline
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Pipeline</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12">
        <v-btn absolute right color="primary" href="{% url 'salespipes:new' %}">New</v-btn>
      </v-col>
      <v-col cols="12" class="text-center">
        <v-simple-table>
          <table>
            <thead>
              <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Job Reference Number</th>
                <th class="text-center">Potential Income</th>
                <th class="text-center">Status</th>
                <th class="text-center">Invoice Date</th>
                <th class="text-center">Invoice Amount</th>
                <th class="text-center">VAT</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                <td>{{ object.date }}</td>
                <td>{{ object.job }}</td>
                <td>{{ object.potential_income|intcomma }}</td>
                <td>{{ object.status }}</td>
                <td>{{ object.invoice_date }}</td>
                <td>{{ object.invoice_amount|intcomma }}</td>
                <td>{{ object.vat|intcomma }}</td>
                <td>
                  {% include "_includes/list_action_buttons.html" with edit_href=object.edit_href view_href=object.view_href %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Pipeline',
        },
      ],
    }),

    mounted(){
      this.updateBreadcrumbs();
    },

  });
</script>  
{% endblock script %}