{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}


{% block subcontent %}
  <h1>Dashboard</h1>
  <input type="hidden" id="dataDashboardItemsNumber" value="{{ dashboard_items_number }}">
  <v-container
    fluid>
    <v-row
      align="center"
      justify="center"
    >
      <dashboard-value-card
        v-for="item in dashboardItemsNumber"
        :key="item.title"
        :text="item.title"
        :value="item.value"></dashboard-value-card>
      <v-col cols=12>
        <v-card
          class="mx-auto text-center"
          color="green"
          dark
          max-width="600">
          <v-card-text>
            <v-sheet color="rgba(0, 0, 0, .12)">
              <g-chart
                :type="chartType"
                :data="chartData"
                :options="chartOptions"
              />
              </v-sparkline>
            </v-sheet>
          </v-card-text>

          <v-card-text>
            <div class="display-1 font-weight-thin">Sales Last 24h</div>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions class="justify-center">
            <v-btn block text>Go to Report</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}

<script src="{% static "vendor/vue-google-charts/vue-google-charts.browser.js" %}"></script>
<script>
  const DashboardValueCard = {
    props: ['value', 'text'],
    template: `
      <v-col cols="12" md="4">
        <v-card
          class="mx-auto text-center"
          outlined>
          <v-card-text>
            <p class="font-weight-black headline">[[ value ]]</p>
            <p class="title mb-0">[[ text ]]</p>
          </v-card-text>
        </v-card>
      </v-col>
    `
  }

  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [],
      chartData: [
        ['Year', 'Sales', 'Expenses', 'Profit'],
        ['2014', 1000, 400, 200],
        ['2015', 1170, 460, 250],
        ['2016', 660, 1120, 300],
        ['2017', 1030, 540, 350]
      ],
      chartOptions: {
        chart: {
          title: 'Company Performance',
          subtitle: 'Sales, Expenses, and Profit: 2014-2017',
        }
      },
      chartType: 'ColumnChart',
      dashboardItemsNumber: [],
    }),

    methods: {
      setDataChoices: function(sourceId, setDataVariable) {
        let data = document.getElementById(sourceId).value;
        this.$set(this, setDataVariable, JSON.parse(data));
      }
    },

    mounted() {
      this.updateBreadcrumbs();
      this.setDataChoices('dataDashboardItemsNumber', 'dashboardItemsNumber');
    },

    components: {
      'dashboard-value-card': DashboardValueCard
    }

  });
</script>  
{% endblock script %}