{% extends "dashboard/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Dashboard
{% endblock title %}

{% block headblock %}
  <style>
    .rotate-90 {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
  </style>  
{% endblock headblock %}


{% block subcontent %}
  <input type="hidden" id="dataDashboardItemsNumber" value="{{ dashboard_items_number }}">
  <input type="hidden" id="dataSuccessfulJobsAllTimePerIndustry" value="{{ sjatpi }}">
  <input type="hidden" id="dataSuccessfulJobsPerConsutant" value="{{ sjpc }}">
  <input type="hidden" id="dataTNFIPerConsultant" value="{{ tnfipc }}">
  <input type="hidden" id="dataTNFIPerConsultantLast12Months" value="{{ tnfipcp12m }}">
  <input type="hidden" id="dataYTDClientPerformance" value="{{ ytdcp }}">
  <v-container>
    <h1>Dashboard</h1>
    {% if data_note %}<span class="caption">{{ data_note }}</span>{% endif %}

    <v-row
      align="center"
      justify="start"
    >
      <dash-card
        v-for="item in dashboardItemsNumber"
        :key="item.title"
        :text="item.title"
        :value="item.value"
        :url="item.url"
        :icon="item.icon"></dash-card>
    </v-row>

    <v-row
      align="center"
      justify="center"
    >
      <v-col
        cols=12
        v-for="graph in graphItems"
        :key="graph.title"
        height="100%">
        <graph-card
          :chart-data="graph.data"
          :default-chart-type="'ColumnChart'"
          :chart-types="chartTypes"
          :title="graph.title"
          :href="graph.href"></graph-card>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/vue-google-charts/vue-google-charts.browser.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/vue-google-charts@0.3.2/dist/vue-google-charts.browser.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/AnimatedNumber.umd.min.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/animated-number-vue@1.0.0/dist/AnimatedNumber.umd.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script>
      let data = {
        sjatpi: [["Industry","Successful jobs per industry"]],
        sjpc: [["Consultant","Successful jobs per consultant this month"]],
        tnfipc: [["Consultant", "Total NFI generated per consultant this month"]],
        tnfipcp12m: [["Consultant", "Total NFI generated per consultant last 12 months"]],
      };
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'dashboard/dashboardOne.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}