{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}


{% block subcontent %}
  <input type="hidden" id="dataDashboardItemsNumber" value="{{ dashboard_items_number }}">
  <input type="hidden" id="dataSuccessfulJobsAllTimePerIndustry" value="{{ sjatpi }}">
  <input type="hidden" id="dataSuccessfulJobsPerConsutant" value="{{ sjpc }}">
  <v-container
    fluid>
    <h1>Dashboard</h1>
    {% if data_note %}<span class="caption">{{ data_note }}</span>{% endif %}

    <v-row
      align="center"
      justify="center"
    >
      <dashboard-value-card
        v-for="item in dashboardItemsNumber"
        :key="item.title"
        :text="item.title"
        :value="item.value"></dashboard-value-card>
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols=12 md=6>
        <v-card
          class="mx-auto text-center"
          color="primary"
          dark>
          <v-card-text>
            <div class="display-1 font-weight-thin">Successful jobs per industry</div>
          </v-card-text>

          <v-card-text>
            <v-sheet color="rgba(0, 0, 0, .12)">
              <g-chart
                :type="sjatpiChartType"
                :data="sjatpi"
              />
            </v-sheet>
          </v-card-text>

          <v-card-actions>
            <v-row align="center" justify="center">
              <v-btn
                class="mx-2"
                v-for="ct in chartTypes"
                :key="ct.type"
                :title="ct.text"
                @click="changeChartType('sjatpiChartType', ct.type)">
                <v-icon>[[ ct.icon ]]</v-icon>
              </v-btn>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col cols=12 md=6>
        <v-card
          class="mx-auto text-center"
          color="primary"
          dark>
          <v-card-text>
            <div class="display-1 font-weight-thin">[[ sjpc[0][1] ]]</div>
          </v-card-text>

          <v-card-text>
            <v-sheet color="rgba(0, 0, 0, .12)">
              <g-chart
                :type="sjpcChartType"
                :data="sjpc"
              />
            </v-sheet>
          </v-card-text>

          <v-card-actions>
            <v-row align="center" justify="center">
              <v-btn
                class="mx-2"
                v-for="ct in chartTypes"
                :key="ct.type"
                :title="ct.text"
                @click="changeChartType('sjpcChartType', ct.type)">
                <v-icon>[[ ct.icon ]]</v-icon>
              </v-btn>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}

{% if debug %}
  <script src="{% static "vendor/lodash/lodash.js" %}"></script>
  <script src="{% static "vendor/vue-google-charts/vue-google-charts.browser.js" %}"></script>
  <script src="{% static "vendor/AnimatedNumber.umd.min.js" %}"></script>
{% else %}
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-google-charts@0.3.2/dist/vue-google-charts.browser.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/animated-number-vue@1.0.0/dist/AnimatedNumber.umd.min.js"></script>
{% endif %}
<script>
  Vue.component('animated-number', AnimatedNumber)
  const DashboardValueCard = {
    props: ['value', 'text'],
    template: `
      <v-col cols="12" md="4">
        <v-card
          class="mx-auto text-center"
          outlined>
          <v-card-text>
            <p class="font-weight-black headline">
              <animated-number
                :value="value"
                :duration="2000"
                :round="0"/>
            </p>
            <p class="title mb-0">[[ text ]]</p>
          </v-card-text>
        </v-card>
      </v-col>
    `,
  }

  new Vue({
    name: 'DashboardApp',
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [],
      chartTypes: [
        {
          'type': 'ColumnChart',
          'text': 'Column',
          'icon': 'fas fa-chart-bar',
        },
        {
          'type': 'PieChart',
          'text': 'Pie',
          'icon': 'fas fa-chart-pie',
        },
        {
          'type': 'LineChart',
          'text': 'Line',
          'icon': 'fas fa-chart-line',
        },
      ],
      dashboardItemsNumber: [],
      sjatpi: [["Industry","Successful jobs per industry"]],
      sjatpiChartType: 'ColumnChart',
      sjpc: [["Consultant","Successful jobs per consultant this month"]],
      sjpcChartType: 'ColumnChart',
    }),

    methods: {
      setDataChoices: function(sourceId, setDataVariable) {
        let data = document.getElementById(sourceId).value;
        this.$set(this, setDataVariable, JSON.parse(data));
      },
      changeChartType: function(property, value) {
        console.log(property);
        this.$set(this, property, value);
      },
      transformSJTPI: function(sourceId='dataSuccessfulJobsAllTimePerIndustry') {
        let data = document.getElementById(sourceId).value;
        data = JSON.parse(data);

        // set value label
        this.sjatpi[0][1] = data.title;

        // transform data to be consumed by a graph
        data = _.map(data.value, (graph) => {
          // graph is the value attribute from django
          return [
            graph.job_candidate__job__client__industry,
            graph.value
          ]
        });

        this.sjatpi = this.sjatpi.concat(data);
      },

      transformSJPC: function(sourceId='dataSuccessfulJobsPerConsutant') {
        let data = document.getElementById(sourceId).value;
        data = JSON.parse(data);

        // set value label
        this.sjpc[0][1] = data.title;

        // transform data to be consumed by a graph
        data = _.map(data.value, (graph) => {
          // graph is the value attribute from django
          return [
            graph.job_candidate__consultant__name,
            graph.value
          ]
        });

        this.sjpc = this.sjpc.concat(data);
        }
    },

    beforeMount(){
      this.transformSJTPI();
      this.transformSJPC();
    },

    mounted() {
      this.updateBreadcrumbs();
      this.setDataChoices('dataDashboardItemsNumber', 'dashboardItemsNumber');
    },

    components: {
      'dashboard-value-card': DashboardValueCard,
    }

  });
</script>  
{% endblock script %}