{% extends "dashboard/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Dashboard
{% endblock title %}


{% block subcontent %}
  <v-container
    fluid>
    
    <h1>Dashboard</h1>

    <v-row
      align="center"
      justify="center"
    >
      <v-col cols=12>
        <p>Please contact your administrator for your dashboard rights...</p>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/vue-google-charts/vue-google-charts.browser.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/vue-google-charts@0.3.2/dist/vue-google-charts.browser.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'dashboard/index.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}