{% load humanize %}

<table>
  <thead>
    <tr>
      <th class="text-center">Date</th>
      <th class="text-center">Candidate</th>
      <th class="text-center">Job Reference Number</th>
      <th class="text-center">Status</th>
      <th class="text-center">Invoice Date</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td class="text-center">{{ object.date|date:display_date_format }}</td>
      <td class="text-center">{{ object.job_candidate.candidate }}</td>
      <td class="text-center"><a href="{% url 'salespipes:detail' object.pk %}" title="view pipeline detail">{{ object.job_candidate.job.reference_number }}</a></td>
      <td class="text-center">{{ object.status }}</td>
      <td class="text-center">{{ object.invoice_date|date:display_date_format }}</td>
      <td class="text-center">
        {% include "_includes/list_action_buttons.html" with edit_href=object.edit_href view_href=object.view_href %}
      </td>
    </tr>
    {% endfor %}

    {% if not object_list %}
      <tr>
        <td class="text-center" colspan="10">No data.</td>
      </tr> 
    {% endif %}
  </tbody>
</table>