
<form id="searchForm" ref="searchForm">
  <v-container fluid>
    <v-row>
      <v-col cols="12" md="3" class="py-0">
        <v-text-field
          outlined
          required
          dense
          prepend-inner-icon="fas fa-calendar-alt"
          label="From"
          name="from"
          type="date"
          value="{{ from|default_if_none:'' }}">
        </v-text-field>
      </v-col>

      <v-col cols="12" md="3" class="py-0">
        <v-text-field
          outlined
          required
          dense
          prepend-inner-icon="fas fa-calendar-alt"
          label="To"
          name="to"
          type="date"
          value="{{ to|default_if_none:'' }}">
        </v-text-field>
      </v-col>
      <v-col cols="12" md="1" class="pa-0">
        <v-btn type="submit" block text>
          <v-icon>fas fa-search</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</form>