{% extends "_includes/filter_form.html" %}

{% block fields %}
  {{ block.super }}  

  <v-col cols="12" md="2" class="py-0">
    <v-autocomplete
      :items="employees"
      label="{{ label|default_if_none:'Employee' }}"
      v-model.lazy="employee"
      name='employee'
      prepend-inner-icon="mdi-account-cog"
      clearable
      dense
      outlined>
    </v-autocomplete>
  </v-col>

  <v-col cols="12" md="2" class="py-0">
    <v-select
      multiple
      outlined
      dense
      prepend-inner-icon="{{ boolean_icon }}"
      name='{{ boolean_name }}'
      v-model="{{ boolean_model }}"
      :items="{{ boolean_items }}"
      label="{{ boolean_label }}"></v-select>
  </v-col>
{% endblock fields %}