
<form id="searchForm" ref="searchForm">
  <v-container fluid>
    <v-row>
      {% block fields %}
        <v-col cols="12" md="3" class="py-0">
          {% include "_includes/_text_field_calendar.html" with label="From" name="from" type="date" value=from %}
        </v-col>

        <v-col cols="12" md="3" class="py-0">
          {% include "_includes/_text_field_calendar.html" with label="To" name="to" type="date" value=to %}
        </v-col>
      {% endblock fields %}

      <v-col cols="12" md="1" class="pa-0">
        {% include "_includes/_button_search.html" %}
      </v-col>
    </v-row>
  </v-container>
</form>