{% extends "commissions/base.html" %}

{% block title %}
Commission Detail ({{ object.pipeline.job_candidate.job.reference_number }}) - {{ object.employee.name }}
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Commission Detail (<a href="{% url 'salespipes:detail' object.pipeline_id %}" title="view pipeline detail">{{ object.pipeline.job_candidate.job.reference_number }}</a>) - {{ object.employee.name }}</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-simple-table>
          <table>
            <tbody>
              <tr>
                <th>Date:</th>
                <td>{{ object.date|date:display_date_format }}</td>
              </tr>
              <tr>
                <th>Pipeline Reference Number:</th>
                <td><a href="{% url 'salespipes:detail' object.pipeline_id %}" title="view pipeline detail">{{ object.pipeline.job_candidate.job.reference_number }}</a></td>
              </tr>
              <tr>
                <th>Candidate:</th>
                <td><a href="{% url 'jobs:candidates_detail' object.pipeline.job_candidate.job_id object.pipeline.job_candidate_id %}" title="view job candidate detail">{{ object.pipeline.job_candidate.candidate.name }}</a></td>
              </tr>
              <tr>
                <th>Employee:</th>
                <td>{{ object.employee }}</td>
              </tr>
              <tr>
                <th>Role Type:</th>
                <td>{{ object.rate_role_type }}</td>
              </tr>
              <tr>
                <th>Rate Used:</th>
                <td>{{ object.rate_used }}</td>
              </tr>
              <tr>
                <th>Amount:</th>
                <td>{{ object.amount }}</td>
              </tr>
              <tr>
                <th>Paid:</th>
                <td>{{ object.is_paid }}</td>
              </tr>
            </tbody>
          </table>
        </v-simple-table>

              <v-btn
                block
                color="primary"
                href="{% url 'commissions:edit' object.pk %}">Edit</v-btn>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Commissions',
          disabled: false,
          href: '{% url "commissions:list" %}',
        },
        {
          text: '({{ object.pipeline.job_candidate.job.reference_number }}) {{ object.employee.name }}',
        },
      ],
    }),

    mounted(){
      this.updateBreadcrumbs();
    },

  });
</script>  
{% endblock script %}