{% extends "commissions/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Commission Detail ({{ object.pipeline.job_candidate.job.reference_number }}) - {{ object.employee.name }}
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Commission Detail (<a href="{% url 'salespipes:detail' object.pipeline_id %}" title="view pipeline detail">{{ object.pipeline.job_candidate.job.reference_number }}</a>) - {{ object.employee.name }}</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-simple-table>
          <table>
            <tbody>
              <tr>
                <th>Date:</th>
                <td>{{ object.date|date:display_date_format }}</td>
              </tr>
              <tr>
                <th>Pipeline Reference Number:</th>
                <td><a href="{% url 'salespipes:detail' object.pipeline_id %}" title="view pipeline detail">{{ object.pipeline.job_candidate.job.reference_number }}</a></td>
              </tr>
              <tr>
                <th>Candidate:</th>
                <td><a href="{% url 'jobs:candidates_detail' object.pipeline.job_candidate.job_id object.pipeline.job_candidate_id %}" title="view job candidate detail">{{ object.pipeline.job_candidate.candidate.name }}</a></td>
              </tr>
              <tr>
                <th>Employee:</th>
                <td>{{ object.employee }}</td>
              </tr>
              <tr>
                <th>Role Type:</th>
                <td>{{ object.rate_role_type }}</td>
              </tr>
              <tr>
                <th>Rate Used:</th>
                <td>{{ object.rate_used }}</td>
              </tr>
              <tr>
                <th>Amount:</th>
                <td>{{ object.amount }}</td>
              </tr>
              <tr>
                <th>Paid:</th>
                <td>{% include "_includes/icon_true_or_false.html" with condition=object.is_paid %}</td>
              </tr>
            </tbody>
          </table>
        </v-simple-table>
          {% include "_includes/button.html" with block='block' outlined='outlined' text='Delete' text_type="text" class="my-2" href=object.delete_href %}
          {% include "_includes/button.html" with block='block' color="primary" text='Edit' class="my-2" href=object.edit_href %}
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let objectText = '({{ object.pipeline.job_candidate.job.reference_number }}) {{ object.employee.name }}';
    </script>
  {% endaddtoblock %}   

  {% addtoblock "js" %}
    <script src="{% static 'commissions/commissionDetail.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}