{% extends "commissions/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Commission ({{ object.pipeline.job_candidate.job.reference_number }}) {{ object.employee.name }} - Confirm Deletion
{% endblock title %}
  
{% block subcontent %}
  <v-container
    fluid>
    {% block h1 %}<h1>CONFIRM deletion of Commission (<a href="{% url 'commissions:detail' object.pk %}" title="view commisison detail">{{ object.pipeline.job_candidate.job.reference_number }}</a>) {{ object.employee.name }}!</h1>{% endblock h1 %}
    
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          <input type="hidden">  

          {% block form_buttons %}
            {% include "_includes/_input_button.html" with block="block" text="Delete" color="warning" outlined="outlined" %}
          {% endblock form_buttons %}
        </form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let objectUrl = '{% url "commissions:detail" object.pk %}';
      let objectText = '({{ object.pipeline.job_candidate.job.reference_number }}) {{ object.employee.name }}';
      let data = {
        employee: '{{ form.employee.value }}',
        rateRoleTypes: ['one', 'two', 'three', 'others'],
        rateRoleType: '{{ form.rate_role_type.value }}',
      };
    </script>
  {% endaddtoblock %}

  {% block js_addtoblock %}
    {% addtoblock "js" %}
      <script src="{% static 'commissions/commissionConfirmDelete.js' %}"></script>
    {% endaddtoblock %}
  {% endblock js_addtoblock %}
{% endblock subcontent %}
