{% extends "commissions/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Commission ({{ object.pipeline.job_candidate.job.reference_number }}) {{ object.employee.name }} - Edit
{% endblock title %}
  
{% block subcontent %}
  <v-container
    fluid>
    {% block h1 %}<h1>Commission (<a href="{% url 'salespipes:detail' object.pipeline_id %}" title="view pipeline detail">{{ object.pipeline.job_candidate.job.reference_number }}</a>) {{ object.employee.name }} - Edit</h1>{% endblock h1 %}
    
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post">
            {% csrf_token %}

            {% block form_fields %}
              <input type="hidden" id="dataEmployeesChoices" value="{{ employees }}">
            
              {% if form.errors %}
                {% include "_includes/errors.html" %}
              {% endif %}

              <div
                v-for="(field, index) in fields"
                :key="index">

                  <template
                    v-if="field.fieldType.value == 'datetextfield'">
                      {% include "_includes/model_fields/textfield_date.html" %}
                    </template>

                  <template
                    v-else-if="field.fieldType.value == 'textfieldModeled'">
                      {% include "_includes/model_fields/textfield_modeled.html" %}
                    </template>

                  <template
                    v-else-if="field.fieldType.value == 'checkbox'">
                      {% include "_includes/model_fields/checkbox.html" %}
                    </template>

                  <template
                    v-else-if="field.fieldType.value == 'autocomplete'">
                      {% include "_includes/model_fields/autocomplete.html" %}
                    </template>
              </div>
            {% endblock form_fields %}

          {% block form_buttons %}
            {% include "_includes/_input_button.html" with block="block" text="Save" color="primary" %}
          {% endblock form_buttons %}
        </form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let objectUrl = '{% url "commissions:detail" object.pk %}';
      let objectText = '({{ object.pipeline.job_candidate.job.reference_number }}) {{ object.employee.name }}';
      let data = {
        date: "{{ form.instance.date|date:'Y-m-d' }}",
        employee: '{{ form.employee.value }}',
        rateRoleTypes: ['one', 'two', 'three', 'others'],
        rateRoleType: '{{ form.rate_role_type.value|default_if_none:"" }}',
        rateUsed: "{{ form.rate_used.value|default_if_none:0 }}",
        amount: "{{ form.amount.value|default_if_none:0 }}",
        isPaid: {{ is_paid }},
      }
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'commissions/commissionUpdate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}
