{% extends "commissions/base.html" %}
{% load humanize %}

{% block title %}
Commissions - List
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Commissions</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12">
        <form id="multiSearchForm" ref="multiSearchForm">
          <v-container fluid>
            <v-row>
              <v-col cols="12" md="3" class="py-0">
                <v-text-field
                  outlined
                  dense
                  clearable
                  label="Search reference number or employee"
                  name="q"
                  value="{{ search_q|default_if_none:'' }}">
                </v-text-field>
              </v-col>
              <v-col cols="12" md="3" class="pa-0">
                {% include "_includes/_button_search.html" %}
              </v-col>
            </v-row>
          </v-container>
        </form>
      </v-col>
      <v-col cols="12" class="py-0">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn absolute right color="primary" v-on="on">New</v-btn>
          </template>
          <span>To create a new commission, open a Pipeline record and hit the "Create a commission" button.</span>
        </v-tooltip>
      </v-col>
      <v-col cols="12" class="text-center">
        <v-simple-table>
          <table>
            <thead>
              <th class="text-center">Pipeline</th>
              <th class="text-center">Candidate</th>
              <th class="text-center">Date</th>
              <th class="text-center">Employee</th>
              <th class="text-center">Rate Role Type</th>
              <th class="text-center">Paid?</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Actions</th>
            </thead>
            <tbody>
              {% if object_list %}
                {% for object in object_list %}
                <tr>
                  <td>
                    <a
                      href="{% url 'salespipes:detail' object.pipeline_id %}"
                      title="view pipeline detail">
                      {{ object.pipeline.job_candidate.job.reference_number }}
                    </a>
                  </td>
                  <td>
                    <a
                      href="{% url 'jobs:candidates_detail' object.pipeline.job_candidate.job_id object.pipeline.job_candidate_id %}"
                      title="view job candidate detail">
                        {{ object.pipeline.job_candidate.candidate.name }}
                    </a>
                  </td>
                  <td>
                    <a href="{{object.view_href}}" title="view commission detail">
                      {{ object.date|date:display_date_format }}
                    </a>
                  </td>
                  <td>{{ object.employee.name }}</td>
                  <td>{{ object.rate_role_type }}</td>
                  <td>
                    {% include "_includes/icon_true_or_false.html" with condition=object.is_paid %}
                  </td>
                  <td class="text-right">{{ object.amount|intcomma }}</td>
                  <td>
                    {% include "_includes/list_action_buttons.html" with edit_href=object.edit_href view_href=object.view_href %}
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="5">No data available.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </v-simple-table>
      </v-col>

      <v-col cols="12">
        <v-container class="max-width">
          {% include "_includes/pagination.html" %}
        </v-container>
      </v-col> <!-- Pagination -->
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Commissions',
        },
      ],
      page: {{ page_obj.number|default_if_none:0 }},
      pageLength: {{ paginator.num_pages|default_if_none:0 }},
    }),

    methods:{
      {% include "_includes/js/pageGoTo.js" %}
    },

    mounted() {
      this.updateBreadcrumbs();
    }

  });
</script>  
{% endblock script %}