{% extends "commissions/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Commissions - New
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>New Commission</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post">
            {% csrf_token %}
            <input type="hidden" id="dataEmployeesChoices" value="{{ employees }}">
          
            {% if form.errors %}
              {% include "_includes/errors.html" %}
            {% endif %}

              <div
                v-for="(field, index) in fields"
                :key="index">

                  <template
                    v-if="field.fieldType.value == 'datetextfield'">
                      {% include "_includes/model_fields/textfield_date.html" %}
                    </template>

                  <template
                    v-else-if="field.fieldType.value == 'textfieldModeled'">
                      {% include "_includes/model_fields/textfield_modeled.html" %}
                    </template>

                  <template
                    v-else-if="field.fieldType.value == 'autocomplete'">
                      {% include "_includes/model_fields/autocomplete.html" %}
                    </template>
              </div>

            <v-input>
              <v-btn block color="success" type="submit">Save</v-btn>
            </v-input>
        </v-form>
      </v-col>
    </v-row>
  </v-container>

  {% addtoblock "js" %}
    <script>
      let data = {
        employee: '{{ form.employee.value|default_if_none:"" }}',
        rateRoleTypes: ['one', 'two', 'three', 'others'],
        rateRoleType: '{{ form.rate_role_type.value|default_if_none:"" }}',
        rateUsed: "{{ form.rate_used.value|default_if_none:0 }}",
        amount: "{{ form.amount.value|default_if_none:0 }}",
      };
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}


  {% addtoblock "js" %}
    <script src="{% static 'commissions/commissionCreate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}