<tr>
  <th>Point of Contacts:<input type="hidden" ref="pointOfContacts" value='{{ object.point_of_contacts }}'></th>
  <td v-if="pointOfContacts.length">
    <v-simple-table dense>
      <table>
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Number</th>
            <th class="text-center">Email</th>
            <th class="text-center">{{ notes_label|default:'Notes' }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(contact, index) in pointOfContacts"
            :key="index">
            <td>[[ contact.name ]]</td>
            <td>[[ contact.number ]]</td>
            <td>[[ contact.email ]]</td>
            <td>[[ contact.notes ]]</td>
          </tr>
        </tbody>
      </table>
    </v-simple-table>
  </td>
  <td v-else>None</td>
</tr>