{% extends "jobs/base.html" %}

{% block title %}
{{ form_mode }} Interview - {{ job_candidate.candidate.name }} Job Candidate
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ form_mode }} Interview - {{ job_candidate.candidate.name }} Job Candidate</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" id="dataModesChoices" value="{{ modes }}">
          <input type="hidden" id="dataStatusChoices" value="{{ status_choices }}">
          {% for error in form.errors %}
            <v-list-item>{{ error }}</v-list-item>
          {% endfor %}

          <v-text-field
            label="{{ form.date_time.label }}"
            outlined
            name="date_time"
            required
            type="datetime-local"
            value="{{ form.date_time.value|date:'Y-m-d\TH:i' }}">
          </v-text-field>
          <p>{{ form.date_time.errors }}</p>

          <v-autocomplete
            :items="modes"
            label="Mode"
            v-model.lazy="mode"
            name='mode'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-autocomplete
            :items="statusChoices"
            label="Status"
            v-model.lazy="status"
            name='status'
            dense
            outlined
            required>
          </v-autocomplete>

          {% if form_mode == 'Edit' %}
            <input type="hidden" id="dataEmployeeChoices" value="{{ employees }}">
            <v-autocomplete
              :items="employees"
              label="Done by"
              v-model.lazy="doneBy"
              name='done_by'
              dense
              outlined
              required>
            </v-autocomplete>
          {% endif %}

          <v-input>
            <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Jobs',
          disabled: false,
          href: '{% url "jobs:list" %}',
        },
        {
          text: '{{ job_candidate.job.reference_number }}',
          disabled: false,
          href: '{% url "jobs:detail" job_candidate.job.pk %}',
        },
        {
          text: 'Candidates',
          disabled: false,
          href: '#'
        },
        {
          text: '{{ job_candidate.candidate.name }}',
          disabled: false,
          href: '{% url "jobs:candidates_detail" job_candidate.job_id job_candidate.pk %}',
        },
        {
          text: 'Interviews',
          disabled: false,
          href: '#'
        },
        {
          text: '{{ form_mode }}',
          disabled: true,
        }
      ],
      modes: [],
      mode: '{{ form.mode.value }}',
      statusChoices: [],
      formMode: '{{ form_mode }}',
      status: '{{ form.status.value }}',
      employees: [],
      doneBy: '{{ form.done_by.value|default_if_none:"" }}',
    }),

    methods: {
      setDataChoices: function(sourceId, setDataVariable) {
        let data = document.getElementById(sourceId).value;
        this.$set(this, setDataVariable, JSON.parse(data));
      },
    },

    beforeMount(){
      this.setDataChoices('dataModesChoices', 'modes');
      this.setDataChoices('dataStatusChoices', 'statusChoices');
      this.updateBreadcrumbs();

      if (this.formMode == 'Edit'){
        this.setDataChoices('dataEmployeeChoices', 'employees');
      }
    },

  });
</script>  
{% endblock script %}