{% extends "jobs/base.html" %}
{% load static sekizai_tags %}

{% block title %}
{{ form_mode }} Interview - {{ job_candidate.candidate.name }} Job Candidate
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ form_mode }} Interview - {{ job_candidate.candidate.name }} Job Candidate</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post">

            {% csrf_token %}
            <input type="hidden" id="dataModesChoices" value="{{ modes }}">
            <input type="hidden" id="dataStatusChoices" value="{{ status_choices }}">
          
            {% if form.errors %}
              {% include "_includes/errors.html" %}
            {% endif %}

            <div
              v-for="(field, index) in fields.common"
              :key="index">

                <template
                  v-if="field.fieldType.value == 'datetimetextfield'">
                    {% include "_includes/model_fields/textfield_datetime.html" %}
                  </template>

                <template
                  v-else-if="field.fieldType.value == 'autocomplete'">
                    {% include "_includes/model_fields/autocomplete.html" %}
                  </template>
            </div>

          {% if form_mode == 'Edit' %}
            <input type="hidden" id="dataEmployeeChoices" value="{{ employees }}">

            <div
              v-for="(field, index) in fields.edit"
              :key="index">
                <template
                  v-if="field.fieldType.value == 'autocomplete'">
                    {% include "_includes/model_fields/autocomplete.html" %}
                  </template>
            </div>
          {% endif %}

          <v-input>
            <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </v-form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let candidateName = '{{ job_candidate.candidate.name }}';
      let jobCandidateUrl = '{% url "jobs:candidates_detail" job_candidate.job_id job_candidate.pk %}';
      let jobReferenceNumber = '{{ job_candidate.job.reference_number }}';
      let jobUrl = '{% url "jobs:detail" job_candidate.job_id %}';
      let formMode = '{{ form_mode }}';
      let data = {
            dateTimeLabel: '{{ form.date_time.label }}',
            dateTime: '{{ form.date_time.value|date:'Y-m-d\TH:i' }}',
            mode: '{{ form.mode.value|default_if_none:'' }}',
            status: '{{ form.status.value|default_if_none:'' }}',
            doneBy: '{{ form.done_by.value|default_if_none:"" }}',
      };
    </script>
  {% endaddtoblock %} 

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'jobs/interviewForm.js' %}"></script>
  {% endaddtoblock %} 
{% endblock subcontent %}