{% extends "jobs/base.html" %}
{% load static sekizai_tags %}

{% block title %}
{{ object.reference_number }} - Update Job
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.reference_number }} - Update Job</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" id="dataClientChoices" value="{{ clients }}">
          <input type="hidden" id="dataLocationChoices" value="{{ locations }}">
          <input type="hidden" id="dataStatusChoices" value="{{ job_status_objects }}">
          {% for error in form.errors %}
            <v-list-item>{{ error }}</v-list-item>
          {% endfor %}

          <v-text-field
            label="{{ form.reference_number.label }}"
            outlined
            name="reference_number"
            required
            value="{{ form.reference_number.value|default_if_none:'' }}">
          </v-text-field>

          <v-text-field
            label="{{ form.date.label }}"
            v-model="date"
            outlined
            name="date"
            required
            type="date">
          </v-text-field>

          <v-autocomplete
            :items="statusChoices"
            item-text="name"
            item-value="id"
            label="Status"
            v-model.lazy="status"
            name='status'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-checkbox
            v-show="needToConfirm"
            v-model="hasConfirmed"
            :error="needToConfirm"
            label="Please confirm to close this Job."></v-checkbox>
          <input type="hidden" name="has_confirmed" :required="needToConfirm" :value="hasConfirmed">

          <v-autocomplete
            :items="clients"
            label="Client"
            v-model.lazy="client"
            name='client'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-text-field
            label="Position"
            outlined
            name="position"
            required
            value="{{ form.position.value|default_if_none:'' }}">
          </v-text-field>

          <v-autocomplete
            :items="locations"
            item-value="text"
            label="Location"
            v-model.lazy="location"
            name='location'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-text-field
            label="{{ form.potential_income.label }}"
            outlined
            name="potential_income"
            required
            type="number"
            value="{{ form.potential_income.value|default_if_none:0 }}">
          </v-text-field>

          <v-input>
            <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let objectUrl = '{% url "jobs:detail" object.pk %}';
      let objectText = '{{ object.reference_number }}';
      let data = {
        client: '{{ form.client.value|default_if_none:"" }}',
        location: '{{ form.location.value|default_if_none:"" }}',
        initialStatus: '{{ form.initial.status|default_if_none:'' }}',
        status: {{ form.status.value|default_if_none:"''" }},
        hasConfirmed: {{ form.has_confirmed.value|yesno:'true,false' }},
        date: '{{ form.instance.date|date:"Y-m-d" }}',
      }
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'jobs/jobUpdate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}
