{% extends "jobs/base.html" %}
{% load humanize %}

{% block title %}
Job Detail - {{ object.reference_number }}
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.reference_number }} - Job Detail</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-tabs
          v-model="tab"
          fixed-tabs>
          
          {% include "_includes/v_tab.html" %}

          <v-tabs-items v-model="tab">
            <v-tab-item id="Details">
              <v-simple-table>
                <table>
                  <tbody>
                    <tr>
                      <th>{{ JOB_REFERENCE_NUMBER_ALIAS }}:</th>
                      <td>{{ object.reference_number }}</td>
                    </tr>
                    <tr>
                      <th>Date:</th>
                      <td>{{ object.date }}</td>
                    </tr>
                    <tr>
                      <th>Client:</th>
                      <td><a href="{% url 'contacts:clients_detail' object.client_id %}" title="view client detail">{{ object.client.name }}</a></td>
                    </tr>
                    <tr>
                      <th>Position:</th>
                      <td>{{ object.position }}</td>
                    </tr>
                    <tr>
                      <th>Location:</th>
                      <td>{{ object.location }}</td>
                    </tr>
                    <tr>
                      <th>{{ JOB_POTENTIAL_INCOME_ALIAS }}:</th>
                      <td>{{ object.potential_income }}</td>
                    </tr>
                  </tbody>
                </table>
              </v-simple-table>

              <v-btn
                block
                color="primary"
                href="{% url 'jobs:edit' object.pk %}">Edit</v-btn>

            </v-tab-item>

            <v-tab-item id="Candidates">
              <v-simple-table>
                <table>
                  <thead>
                    <tr>
                      <th class="text-center">Candidate</th>
                      <th class="text-center">Registration Date</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Salary Offered</th>
                      <th class="text-center">Tentative date of joining</th>
                      <th class="text-center">CV Source</th>
                      <th class="text-center">CV Date Shared</th>
                      <th class="text-center">NFI</th>
                      <th class="text-center">Associate</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if candidates %}
                      {% for candidate in candidates %}
                      <tr>
                        <td>
                          <a href="{% url 'contacts:candidates_detail' candidate.candidate_id %}" title="view contact detail">{{ candidate.candidate.name }}</a>
                        </td>
                        <td>{{ candidate.registration_date }}</td>
                        <td>{{ candidate.status }}</td>
                        <td>{{ candidate.salary_offered_currency }} {{ candidate.salary_offered }}</td>
                        <td>{{ candidate.tentative_date_of_joining }}</td>
                        <td>{{ candidate.cv_source }}</td>
                        <td>{{ candidate.cv_date_shared|default_if_none:'' }}</td>
                        <td>{{ candidate.actual_income|default_if_none:0 }}</td>
                        <td>{{ candidate.associate.name }}</td>
                        <td>
                          <v-btn
                            text
                            title="download cv"
                            href="{% url 'contacts:download_cv' candidate.candidate_id %}?position={{ candidate.job.position|urlencode }}">cv</v-btn>
                          {% include "_includes/list_action_buttons.html" with edit_href=candidate.edit_href view_href=candidate.view_href %}
                        </td>
                      </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="8">No data yet. <a href="{% url 'jobs:candidates_new' object.pk %}">Add now</a>.</td>
                      </tr>
                    {% endif %}
                  </tbody>
                </table>
              </v-simple-table>

              <v-btn
                color="primary"
                block
                href="{% url 'jobs:candidates_new' object.pk %}">Add a candidate</v-btn>

            </v-tab-item>

            <v-tab-item id="Pipelines">

                <v-simple-table>
                  {% include "salespipes/includes/pipeline_list_table.html" with object_list=pipelines %}
                </v-simple-table>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),
    delimiters: ['[[', ']]'],

    props: {
      source: String,
    },

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Jobs',
          disabled: false,
          href: '{% url "jobs:list" %}',
        },
        {
          text: '{{ object.reference_number }}',
        },
      ],
      tab: null,
      tabs: [
        {
          tab: 'Details',
          icon: 'fas fa-info',  
        },
        {
          tab: 'Candidates',
          icon: 'fas fa-users-cog',  
        },
        {
          tab: 'Pipelines',
          icon: 'fas fa-filter',  
        },
      ],
    }),

    mounted() {
      this.updateBreadcrumbs();
    }

  });
</script>  
{% endblock script %}