{% extends "jobs/base.html" %}

{% block title %}
Jobs - List
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Jobs List</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12">
        <v-btn absolute right color="primary" href="{% url 'jobs:new' %}">New</v-btn>
      </v-col>
      <v-col cols="12">
        <v-simple-table>
          <table>
            <thead>
              <th class="text-center">Reference #</th>
              <th class="text-center">Date</th>
              <th class="text-center">Client</th>
              <th class="text-center">Position</th>
              <th class="text-center">Location</th>
              <th class="text-center">Potential Income</th>
              <th class="text-center">Actions</th>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                <td class="text-center">{{ object.reference_number }}</td>
                <td class="text-center">{{ object.date }}</td>
                <td class="text-center">{{ object.client.name }}</td>
                <td class="text-center">{{ object.position }}</td>
                <td class="text-center">{{ object.location }}</td>
                <td class="text-right">{{ object.potential_income|default_if_none:0 }}</td>
                <td class="text-center">
                  {% include "_includes/list_action_buttons.html" with edit_href=object.edit_href view_href=object.view_href %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Jobs',
          disabled: true,
          href: '{% url "jobs:list" %}',
        },
      ],
    }),

    mounted() {
      this.updateBreadcrumbs();
    }

  });
</script>  
{% endblock script %}