{% extends "jobs/base.html" %}
{% load static sekizai_tags %}

{% block title %}
{{ object.reference_number }} - Update Job
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.reference_number }} - Update Job</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          method="post"
          @submit="submit">
          {% csrf_token %}
          <input type="hidden" id="dataClientChoices" value="{{ clients }}">
          <input type="hidden" id="dataLocationChoices" value="{{ locations }}">
          <input type="hidden" id="dataStatusChoices" value="{{ job_status_objects }}">

          {% if form.errors %}
            {% include "_includes/errors.html" %}
          {% endif %}

          <div
            v-for="(field, index) in fields"
            :key="index">
              <v-text-field
                v-if="field.fieldType.value == 'textfield'"
                :label="field.label"
                :outlined="field.outlined"
                :name="field.name"
                :value="field.value"
                :type="field.fieldType.type"
                :rules="field.rules">
              </v-text-field>

              <v-text-field
                v-else-if="field.fieldType.value == 'datetextfield'"
                :label="field.label"
                :outlined="field.outlined"
                :rules="field.rules"
                :name="field.name"
                v-model.lazy="$data[field.model]"
                type='date'>
              </v-text-field>

              <v-autocomplete
                v-else-if="field.fieldType.value == 'autocomplete'"
                :items="$data[field.items]"
                :item-text="field.itemText"
                :item-value="field.itemValue"
                :label="field.label"
                v-model.lazy="$data[field.model]"
                :name='field.name'
                :dense="field.dense"
                :outlined="field.outlined"
                :rules="field.rules">
              </v-autocomplete>

              <template
                v-else-if="field.fieldType.value == 'confirmCheckbox'">
                <v-checkbox
                  v-show="$root[field.needToConfirmModel]"
                  v-model="$data[field.model]"
                  :error="$data[field.needToConfirmModel]"
                  :label="field.label"
                  :required="$data[field.needToConfirmModel]"></v-checkbox>
                <input
                  :name="field.name"
                  :required="$data[field.needToConfirmModel]"
                  :value="$data[field.model]"
                  type="hidden">
              </template>
            </div>

            <v-input>
              <v-btn block color="success" type="submit">Save</v-btn>
            </v-input>
        </v-form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let objectUrl = '{% url "jobs:detail" object.pk %}';
      let objectText = '{{ object.reference_number }}';
      let data = {
        client: '{{ form.client.value|default_if_none:"" }}',
        location: '{{ form.location.value|default_if_none:"" }}',
        initialStatus: '{{ form.initial.status|default_if_none:'' }}',
        status: {{ form.status.value|default_if_none:"''" }},
        hasConfirmed: {{ form.has_confirmed.value|yesno:'true,false' }},
        date: '{{ form.instance.date|date:"Y-m-d" }}',
        referenceNumberLabel: "{{ form.reference_number.label }}",
        referenceNumber: "{{ form.reference_number.value|default_if_none:'' }}",
        dateLabel: "{{ form.date.label }}",
        position: "{{ form.position.value|default_if_none:'' }}",
        potentialIncomeLabel: "{{ form.potential_income.label }}",
        potentialIncome: "{{ form.potential_income.value|default_if_none:0 }}",
      }
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'jobs/jobUpdate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}
