{% extends "jobs/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Jobs - List
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Jobs List</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12">
        <input type="hidden" id="dataStatusChoices" value="{{ status_objects }}">
        <input type="hidden" id="dataEmployees" value="{{ employees }}">
        {% include "_includes/filter_form_with_q_and_employee.html" with q_label="Reference number or client"  %}
      </v-col>
  
      <v-col cols="12">
        <v-btn absolute right color="primary" href="{% url 'jobs:new' %}">New</v-btn>
      </v-col>
      <v-col cols="12">
        <v-simple-table>
          <table>
            <thead>
              <th class="text-center">Date</th>
              <th class="text-center">Client</th>
              <th class="text-center">Reference #</th>
              <th class="text-center">Status</th>
              <th class="text-center">Candidates</th>
              <th class="text-center">Position</th>
              <th class="text-center">Location</th>
              <th class="text-center">Potential Income</th>
              <th class="text-center">Actions</th>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                <td class="text-center">{{ object.date|date:display_date_format }}</td>
                <td class="text-center"><a href="{% url 'contacts:clients_detail' object.client_id %}" title="view client detail">{{ object.client.name }}</a></td>
                <td class="text-center"><a href="{% url 'jobs:detail' object.pk %}" title="view job detail">{{ object.reference_number }}</a></td>
                <td class="text-center">{{ object.status.name }}</td>
                <td class="text-center">{{ object.candidates.all.count }}</td>
                <td class="text-center">{{ object.position }}</td>
                <td class="text-center">{{ object.location }}</td>
                <td class="text-right">{{ object.potential_income|default_if_none:0 }}</td>
                <td class="text-center">
                  {% include "_includes/list_action_buttons.html" with edit_href=object.edit_href view_href=object.view_href %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </v-simple-table>
      </v-col>

      <v-col cols="12">
        <v-container class="max-width">
          {% include "_includes/pagination.html" %}
        </v-container>
      </v-col> <!-- Pagination -->
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let currentPage = {{ page_obj.number|default_if_none:0 }};
      let currentPageLength = {{ paginator.num_pages|default_if_none:0 }};
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script>
      let data = {
        status: '{{ status|default_if_none:'' }}',
        employee: '{{ employee }}',
      };
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForListWithStatus.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'jobs/jobList.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}