{% extends "jobs/base.html" %}
{% load static sekizai_tags humanize %}

{% block title %}
Job Detail - {{ object.reference_number }}
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.reference_number }} - Job Detail<v-chip class="ma-2">{{ object.status.name }}</v-chip></h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-tabs
          v-model="tab"
          fixed-tabs>
          
          {% include "_includes/v_tab.html" %}

          <v-tabs-items v-model="tab">
            <v-tab-item id="Details">
              <v-simple-table>
                <table>
                  <tbody>
                    <tr>
                      <th>{{ JOB_REFERENCE_NUMBER_ALIAS }}:</th>
                      <td>{{ object.reference_number }}</td>
                    </tr>
                    <tr>
                      <th>Date:</th>
                      <td>{{ object.date|date:display_date_format }}</td>
                    </tr>
                    <tr>
                      <th>Status:</th>
                      <td>{{ object.status.name }}</td>
                    </tr>
                    <tr>
                      <th>Client:</th>
                      <td><a href="{% url 'contacts:clients_detail' object.client_id %}" title="view client detail">{{ object.client.name }}</a></td>
                    </tr>
                    <tr>
                      <th>Position:</th>
                      <td>{{ object.position }}</td>
                    </tr>
                    <tr>
                      <th>Location:</th>
                      <td>{{ object.location }}</td>
                    </tr>
                    <tr>
                      <th>{{ JOB_POTENTIAL_INCOME_ALIAS }}:</th>
                      <td>{{ object.potential_income }}</td>
                    </tr>
                  </tbody>
                </table>
              </v-simple-table>

              <v-btn
                block
                color="primary"
                href="{% url 'jobs:edit' object.pk %}"
                {% if edit_not_allowed %}disabled{% endif %}>Edit</v-btn>

            </v-tab-item>

            <v-tab-item id="Candidates">
              <v-simple-table>
                {% include 'jobs/includes/jobcandidate_list_table.html' with no_data_label="No data." %}
              </v-simple-table>

              <v-btn
                color="primary"
                block
                href="{% url 'jobs:candidates_new' object.pk %}"
                {% if edit_not_allowed %}disabled{% endif %}>Add a candidate</v-btn>

            </v-tab-item>

            <v-tab-item id="Pipelines">

                <v-simple-table>
                  {% include "salespipes/includes/pipeline_list_table.html" with object_list=pipelines %}
                </v-simple-table>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let objectText = '{{ object.reference_number }}';
    </script>
  {% endaddtoblock %}   

  {% addtoblock "js" %}
    <script src="{% static 'jobs/jobDetail.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}
