{% extends "jobs/base.html" %}
{% load static sekizai_tags %}

{% block title %}
{{ object.candidate.name }} - {{ object.job.reference_number }} Job Candidate Update
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.candidate.name }} - {{ object.job.reference_number }} | Job Candidate Update</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post">
            {% csrf_token %}
            <input type="hidden" id="dataCandidateChoices" value="{{ candidates }}">
            <input type="hidden" id="dataStatusChoices" value="{{ status_objects }}">
            <input type="hidden" id="dataEmployeesChoices" value="{{ employees }}">
            <input type="hidden" id="dataCVSourceChoices" value="{{ cv_sources }}">
          
            {% if form.errors %}
              {% include "_includes/errors.html" %}
            {% endif %}

            <div
              v-for="(field, index) in fields"
              :key="index">
                <template
                  v-if="field.fieldType.value == 'textfield'">
                    {% include "_includes/model_fields/textfield.html" %}
                  </template>

                <template
                  v-else-if="field.fieldType.value == 'datetextfield'">
                    {% include "_includes/model_fields/textfield_date.html" %}
                  </template>

                <template
                  v-else-if="field.fieldType.value == 'textarea'">
                    {% include "_includes/model_fields/textarea.html" %}
                  </template>

                <template
                  v-else-if="field.fieldType.value == 'autocomplete'">
                    {% include "_includes/model_fields/autocomplete.html" %}
                  </template>
            </div>

            <v-input>
              <v-btn block color="success" type="submit">Save</v-btn>
            </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let candidateName = '{{ object.candidate.name }}';
      let jobCandidateUrl = '{% url "jobs:candidates_detail" job.pk object.pk %}';
      let jobReferenceNumber = '{{ object.job.reference_number }}';
      let jobUrl = '{% url "jobs:detail" object.job_id %}';
      let data = {
            registrationDate: "{{ form.registration_date.value|date:'Y-m-d' }}",
            registrationDateLabel: "{{ form.registration_date.label }}",
            cvDateShared: "{{ form.cv_date_shared.value|date:'Y-m-d' }}",
            remarks: "{{ form.remarks.value|escapejs }}",
            salaryOfferedCurrency: "{{ form.salary_offered_currency.value }}",
            salaryOffered: "{{ form.salary_offered.value|default_if_none:0 }}",
            tentativeDateOfJoining: "{{ form.tentative_date_of_joining.value|date:'Y-m-d' }}",
            candidate: '{{ form.candidate.value }}',
            status: '{{ form.status.value }}',
            statusDisabled: {{ form.status.field.disabled|yesno:'true,false' }},
            associate: '{{ form.associate.value }}',
            consultant: '{{ form.consultant.value }}',
            cvSource: '{{ form.cv_source.value|default_if_none:"" }}',
      };
    </script>
  {% endaddtoblock %} 

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'jobs/jobCandidateUpdate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}
