{% extends "contacts/base.html" %}

{% block title %}
{{ object.candidate.name }} - {{ object.job.reference_number }} Job Candidate Detail
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.candidate.name }} - {{ object.job.reference_number }} Job Candidate Detail</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-tabs
          v-model="tab"
          fixed-tabs>
          
          {% include "_includes/v_tab.html" %}

          <v-tabs-items v-model="tab">
            <v-tab-item id="Job Candidate Detail">
              {% include "jobs/includes/jobcandidate_detail_table.html" %}
            </v-tab-item>

            <v-tab-item id="Interviews">
              <v-simple-table>
                <table>
                  <thead>
                    <tr>
                      <th class="text-center">Date</th>
                      <th class="text-center">Mode</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Done by</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for interview in interviews %}
                    <tr>
                      <td>{{ interview.date|date:display_date_format }}</td>
                      <td>{{ interview.mode }}</td>
                      <td>{{ interview.status }}</td>
                      <td>{{ interview.done_by.name }}</td>
                      <td>
                        <v-btn
                          href="{% url 'jobs:interviews_edit' object.job_id object.pk interview.pk %}"
                          text>edit</v-btn>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </v-simple-table>

              <v-btn
                absolute
                right
                color="primary"
                href="{% url 'jobs:interviews_new' object.job_id object.pk %}">Add an interview</v-btn>

            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),
    delimiters: ['[[', ']]'],

    props: {
      source: String,
    },

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Jobs',
          disabled: false,
          href: '{% url "jobs:list" %}',
        },
        {
          text: '{{ object.job.reference_number }}',
          disabled: false,
          href: '{% url "jobs:detail" object.job_id %}',
        },
        {
          text: 'Candidates',
          disabled: false,
          href: '#'
        },
        {
          text: '{{ object.candidate.name }}',
          disabled: true,
        }
      ],
      tab: null,
      tabs: [
        'Details',
        'Interviews'
      ],
      tabs: [
        {
          tab: 'Job Candidate Detail',
          icon: 'fas fa-user-cog',  
        },
        {
          tab: 'Interviews',
          icon: 'fas fa-headset',  
        },
      ],
    }),

    mounted(){
      this.updateBreadcrumbs();
    },

  });
</script>  
{% endblock script %}