{% extends "jobs/base.html" %}

{% block title %}
{{ object.candidate.name }} - {{ object.job.reference_number }} Job Candidate Update
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.candidate.name }} - {{ object.job.reference_number }} Job Candidate Update</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" id="dataCandidateChoices" value="{{ candidates }}">
          <input type="hidden" id="dataStatusChoices" value="{{ status_objects }}">
          <input type="hidden" id="dataAssociateChoices" value="{{ employees }}">
          {% for error in form.errors %}
            <v-list-item>{{ error }}</v-list-item>
          {% endfor %}

          <v-autocomplete
            :items="candidates"
            label="Candidate"
            v-model.lazy="candidate"
            name='candidate'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-text-field
            label="{{ form.registration_date.label }}"
            outlined
            name="registration_date"
            required
            type="date"
            value="{{ form.registration_date.value|date:'Y-m-d' }}">
          </v-text-field>

          <v-autocomplete
            :items="statusChoices"
            label="Status"
            v-model.lazy="status"
            name='status'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-text-field
            label="CV Date Shared"
            outlined
            name="cv_date_shared"
            type="date"
            value="{{ form.cv_date_shared.value|date:'Y-m-d' }}">
          </v-text-field>

          <v-textarea
            name="remarks"
            label="Remarks"
            outlined
            value="{{ form.remarks.value }}"
          ></v-textarea>

          <v-text-field
            label="Salary Offered Currency"
            outlined
            name="salary_offered_currency"
            value="{{ form.salary_offered_currency.value }}">
          </v-text-field>

          <v-text-field
            label="Salary Offered"
            outlined
            name="salary_offered"
            type="number"
            value="{{ form.salary_offered.value|default_if_none:0 }}">
          </v-text-field>

          <v-text-field
            label="Tentative Date of Joining"
            outlined
            name="tentative_date_of_joining"
            type="date"
            value="{{ form.tentative_date_of_joining.value|date:'Y-m-d' }}">
          </v-text-field>

          <v-autocomplete
            :items="associates"
            label="Associate"
            v-model.lazy="associate"
            name='associate'
            dense
            outlined
            required>
          </v-autocomplete>

          <v-input>
            <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Jobs',
          disabled: false,
          href: '{% url "jobs:list" %}',
        },
        {
          text: '{{ job.reference_number }}',
          disabled: false,
          href: '{% url "jobs:detail" job.pk %}',
        },
        {
          text: 'Candidates',
          disabled: false,
          href: '#'
        },
        {
          text: '{{ object.candidate.name }}',
          disabled: false,
          href: '{% url "jobs:candidates_detail" job.pk object.pk %}',
        },
        {
          text: 'Edit',
          disabled: true,
        }
      ],
      candidates: [],
      candidate: '{{ form.candidate.value }}',
      statusChoices: [],
      status: '{{ form.status.value }}',
      associates: [],
      associate: '{{ form.associate.value }}'
    }),

    methods: {
      setDataChoices: function(sourceId, setDataVariable) {
        let data = document.getElementById(sourceId).value;
        this.$set(this, setDataVariable, JSON.parse(data));
      }
    },

    beforeMount(){
      this.setDataChoices('dataCandidateChoices', 'candidates');
      this.setDataChoices('dataStatusChoices', 'statusChoices');
      this.setDataChoices('dataAssociateChoices', 'associates');
      this.updateBreadcrumbs();
    },

  });
</script>  
{% endblock script %}