{% extends "jobs/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Job Candidates - New
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>New Job Candidate</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post">
            {% csrf_token %}
            <input type="hidden" id="dataCandidateChoices" value="{{ candidates }}">
            
            {% if form.errors %}
              {% include "_includes/errors.html" %}
            {% endif %}

            <div
              v-for="(field, index) in fields"
              :key="index">
                <template
                  v-if="field.fieldType.value == 'autocomplete'">
                    {% include "_includes/model_fields/autocomplete.html" %}
                  </template>
            </div>

          <v-input>
            <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </v-form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let jobReferenceNumber = '{{ job.reference_number }}';
      let jobUrl = '{% url "jobs:detail" job.pk %}';
      let data = {
        candidate: '{{ form.candidate.value }}',
      };
    </script>
  {% endaddtoblock %} 

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'jobs/jobCandidateCreate.js' %}"></script>
  {% endaddtoblock %} 
{% endblock subcontent %}