{% extends "backups/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Backups - New
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>New Backup</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          {% for error in form.errors %}
            <v-list-item>{{ error }}</v-list-item>
          {% endfor %}

          <v-text-field
            outlined
            label="Name (optional)"
            name="name"
            value="{{ form.name.value|default_if_none:'' }}">
          </v-text-field>

          <v-input>
            <v-btn color="primary" block type="submit">Save</v-btn>
          </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script src="{% static 'backups/backupForm.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}