{% extends "contacts/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Candidates - List
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Candidates List</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12">
        <input type="hidden" id="ownersChoices" value="{{ owners }}">
        <form id="nameSearchForm" ref="nameSearchForm">
          <v-container fluid>
            <v-row
              align="center">

              <v-col cols="12" md="3" class="py-0">
                <v-text-field
                  outlined
                  dense
                  label="Languages (comma separated)"
                  prepend-inner-icon="mdi-translate"
                  name="languages"
                  clearable
                  value="{{ search_languages|default_if_none:'' }}">
                </v-text-field>
              </v-col>

              <v-col cols="12" md="3" class="py-0">
                <v-text-field
                  outlined
                  dense
                  label="Nationalities (comma separated)"
                  prepend-inner-icon="mdi-earth"
                  name="nationalities"
                  clearable
                  value="{{ search_nationalities|default_if_none:'' }}">
                </v-text-field>
              </v-col>

              <v-col cols="12" md="3" class="py-0">
                <v-text-field
                  outlined
                  dense
                  label="Positions (comma separated)"
                  prepend-inner-icon="mdi-briefcase-account"
                  name="positions"
                  clearable
                  value="{{ search_positions|default_if_none:'' }}">
                </v-text-field>
              </v-col>

              <v-col cols="12" md="3" class="py-0">
                <v-text-field
                  outlined
                  dense
                  label="Company"
                  title="Current/Previous Company"
                  prepend-inner-icon="mdi-office-building"
                  name="current_previous_company__icontains"
                  clearable
                  value="{{ search_current_previous_company|default_if_none:'' }}">
                </v-text-field>
              </v-col>

              <v-col cols="12" md="3" class="py-0">
                <v-text-field
                  outlined
                  dense
                  label="Name"
                  prepend-inner-icon="{{ ICON_CANDIDATES }}"
                  name="name__icontains"
                  clearable
                  value="{{ search_name|default_if_none:'' }}">
                </v-text-field>
              </v-col>

              <v-col cols="12" md="3" class="py-0">
                {% include "_includes/_auto_complete.html" with model='owner' label="Owner" items='owners' item_value='value' item_text='text' multiple='multiple' prepend_inner_icon="mdi-account-cog" %}
                <input type="hidden" name="candidate_owner_id__in" :value="owner">
              </v-col>

              <v-col cols="12" md="3" class="py-0">
                <v-select
                  multiple
                  outlined
                  dense
                  name='is_male'
                  v-model="isMale"
                  :items="[{text: 'Male', value: 'true'}, {text: 'Female', value: 'false'}, {text: 'Unspecified', value: 'None'},]"
                  label="Gender"></v-select>
              </v-col>

              <v-col cols="12" md="4" class="py-0">
                <v-card flat color="transparent">
                    <v-subheader>Age range</v-subheader>
                    <v-card-text>
                      <v-range-slider
                        v-model="ageRange"
                        :thumb-label="true"
                        dense
                        outlined>
                        <template v-slot:prepend>
                          <v-text-field
                            :value="ageRange[0]"
                            class="mt-0 pt-0"
                            hide-details
                            single-line
                            type="number"
                            style="width: 60px"
                            @change="$set(ageRange, 0, $event)"
                          ></v-text-field>
                        </template>
                        <template v-slot:append>
                          <v-text-field
                            :value="ageRange[1]"
                            class="mt-0 pt-0"
                            hide-details
                            single-line
                            type="number"
                            style="width: 60px"
                            @change="$set(ageRange, 1, $event)"
                          ></v-text-field>
                        </template>
                      </v-range-slider>
                    </v-card-text>
                </v-card>
                  <input type="hidden" name="age_range" :value="ageRangeString">
              </v-col>

              <v-col cols="12" md="1" class="pa-0">
                {% include "_includes/_button_search.html" %}
              </v-col>
            </v-row>
          </v-container>
        </form>
      </v-col>

      <v-col cols="12" class="pa-0">
        <v-btn absolute right color="primary" href="{% url 'contacts:candidates_new' %}">New</v-btn>
      </v-col>
      <v-col cols="12">
        <v-simple-table>
          <table>
            <thead>
              <th class="text-center">Name</th>
              <th class="text-center">Nationality</th>
              <th class="text-center">Languages</th>
              <th class="text-center" title="Current/Previous Position">Position</th>
              <th class="text-center" title="Current/Previous Company">Company</th>
              <th class="text-center">Age</th>
              <th class="text-center">Owner</th>
              <th class="text-center">Actions</th>
            </thead>
            <tbody>
              {% for candidate in object_list %}
              <tr>
                <td>{% include "_includes/icon_male_female.html" with is_male=candidate.is_male %}{{ candidate.name }}</td>
                <td>{{ candidate.nationality }}</td>
                <td>{{ candidate.languages }}</td>
                <td>{{ candidate.current_previous_position }}</td>
                <td>{{ candidate.current_previous_company }}</td>
                <td>{{ candidate.age }}</td>
                <td>{{ candidate.candidate_owner }}</td>
                <td>
                  {% include "_includes/list_action_buttons.html" with edit_href=candidate.edit_href view_href=candidate.view_href %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </v-simple-table>
      </v-col>

      <v-col cols="12">
        <v-container class="max-width">
          {% include "_includes/pagination.html" %}
        </v-container>
      </v-col> <!-- Pagination -->
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script>
      let currentPage = {{ page_obj.number|default_if_none:0 }};
      let currentPageLength = {{ paginator.num_pages|default_if_none:0 }};
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script>
      let data = {
        owner: '{{ owners_query|default_if_none:"" }}',
        isMale: "{{ search_is_male|default_if_none:''}}",
        ageRange: "{{ search_age_range|default_if_none:'' }}",
        stringsToTransform: ['owner', 'isMale'],
      };
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinTransformDataStringToArray.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'contacts/candidateList.js' %}"></script>
  {% endaddtoblock %}

{% endblock subcontent %}