{% extends "contacts/base.html" %}
{% load humanize static sekizai_tags %}

{% block title %}
Candidate Detail - {{ object.name }}
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.name }} - Candidate Detail</h1>
    <p>Date created: <span>{{ object.created|date:SYSTEM_SETTINGS.display_date_format }}</span></p>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-tabs
          v-model="tab"
          fixed-tabs>
          
          {% include "_includes/v_tab.html" %}

          <v-tabs-items v-model="tab">
            <v-tab-item id="Contact Details">
              <v-simple-table
                dense>
                <table>
                  <tbody>
                    <tr>
                      <th>Contact Number:</th>
                      <td>{{ object.contact_number }}</td>
                    </tr>
                    <tr>
                      <th>Alternate Contact Number:</th>
                      <td>{{ object.alternate_contact_number }}</td>
                    </tr>
                    <tr>
                      <th>Email Address:</th>
                      <td><a href="mailto:{{ object.email_address }}">{{ object.email_address }}</a></td>
                    </tr>
                    <tr>
                      <th>Whatsapp Link:</th>
                      <td>
                        {% if object.contact_number %}
                          <a href="https://api.whatsapp.com/send?phone={{ object.contact_number }}" target="_blank">Click here to send WhatsApp Message</a>
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <th>Skype ID:</th>
                      <td>{{ object.skype_id }}</td>
                    </tr>
                    <tr>
                      <th>MS Teams ID:</th>
                      <td>{{ object.ms_teams_id }}</td>
                    </tr>
                    <tr>
                      <th>Location:</th>
                      <td>{{ object.location }}</td>
                    </tr>
                  </tbody>
                </table>
              </v-simple-table>
            </v-tab-item>

            <v-tab-item id="Personal">
              <v-simple-table
                dense>
                <table>
                  <tbody>
                    <tr>
                      <th>Nationality:</th>
                      <td>{{ object.nationality }}</td>
                    </tr>
                    <tr>
                      <th>Languages:</th>
                      <td>{{ object.languages }}</td>
                    </tr>
                    <tr>
                      <th>Preferred Location:</th>
                      <td>{{ object.preferred_location }}</td>
                    </tr>
                    <tr>
                      <th>Civil Status:</th>
                      <td>{{ object.civil_status }}</td>
                    </tr>
                    <tr>
                      <th>Gender:</th>
                      <td>{{ object.gender }}</td>
                    </tr>
                    <tr>
                      <th>Dependents:</th>
                      <td>{{ object.dependents }}</td>
                    </tr>
                    <tr>
                      <th>Highest Educational Qualificaiton:</th>
                      <td>{{ object.highest_educational_qualification }}</td>
                    </tr>
                    <tr>
                      <th>Date of Birth:</th>
                      <td>{{ object.date_of_birth|date:'d-M-Y' }}</td>
                    </tr>
                  </tbody>
                </table>
              </v-simple-table>
            </v-tab-item>

            <v-tab-item id="Current/Previous Work">
              <v-simple-table
                dense>
                <table>
                  <tbody>
                    <tr>
                      <th>Positiion:</th>
                      <td>{{ object.current_previous_position }}</td>
                    </tr>
                    <tr>
                      <th>Company:</th>
                      <td>{{ object.current_previous_company }}</td>
                    </tr>
                    <tr>
                      <th>Current/Previous Salary:</th>
                      <td>{{ object.current_previous_salary|default_if_none:0|intcomma }}</td>
                    </tr>

                    <tr>
                      <th>Motivation for leaving:</th>
                      <td>{{ object.motivation_for_leaving }}</td>
                    </tr>

                    <tr>
                      <th>Expected Salary:</th>
                      <td>{{ object.expected_salary|default_if_none:0|intcomma }}</td>
                    </tr>
                  </tbody>
                </table>
              </v-simple-table>
            </v-tab-item>

            <v-tab-item id="Others">
              <v-simple-table
                dense>
                <table>
                  <tbody>
                    <tr>
                      <th>Visa Status:</th>
                      <td>{{ object.visa_status }}</td>
                    </tr>
                    <tr>
                      <th>Availablity for Interview:</th>
                      <td>{{ object.availability_for_interview }}</td>
                    </tr>
                    <tr>
                      <th>Notice Period:</th>
                      <td>{{ object.notice_period }}</td>
                    </tr>
                    <tr>
                      <th>Candidate Owner:</th>
                      <td>{{ object.candidate_owner }}</td>
                    </tr>
                    <tr>
                      <th>CV Template:</th>
                      <td>{{ object.cv_template.name }}</td>
                    </tr>
                    <tr>
                      <th>Notes/Remarks:</th>
                      <td>{{ object.notes }}</td>
                    </tr>
                  </tbody>
                </table>
              </v-simple-table>
            </v-tab-item>

            <v-tab-item id="Medical">
              <v-simple-table
                dense>
                <table>
                  <tbody v-if="isMedical">
                    <tr>
                      <th>Medical Experience(years):</th>
                      <td>{{ object.medical_experience_in_years }}</td>
                    </tr>
                    <tr>
                      <th>Specialization:</th>
                      <td>{{ object.specialization }}</td>
                    </tr>
                    <tr>
                      <th>Other Certifications:</th>
                      <td>{{ object.other_certifications }}</td>
                    </tr>
                    <tr>
                      <th>BLS Validity:</th>
                      <td>{{ object.bls_validity }}</td>
                    </tr>
                    <tr>
                      <th>ACLS Validity:</th>
                      <td>{{ object.acls_validity }}</td>
                    </tr>
                    <tr>
                      <th>HAAD/DHA Validity:</th>
                      <td>{{ object.haad_dha_license_validity }}</td>
                    </tr>
                    <tr>
                      <th>HAAD/DHA License Type:</th>
                      <td>{{ object.haad_dha_license_type }}</td>
                    </tr>
                    <tr>
                      <th>Job title on DHA/HAAD:</th>
                      <td>{{ object.job_title_on_dha_haad }}</td>
                    </tr>
                    <tr>
                      <th>Last update on dataflow:</th>
                      <td>{{ object.dataflow_last_update }}</td>
                    </tr>
                  </tbody>
                  <tbody v-else>
                    <tr>
                      <td>Non-medical</td>
                    </tr>
                  </tbody>
                </table>
              </v-simple-table>
            </v-tab-item>

            <v-tab-item id="Active Jobs">
              <v-simple-table
                dense>
                {% include "jobs/includes/jobcandidate_list_table.html" with candidates=active_jobs show_reference_number=True %}
              </v-simple-table>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-col>

      <v-col cols="12" class="text-center">
        <v-btn
          block
          color="primary"
          text
          outlined
          href="{% url 'contacts:download_cv' object.pk %}">Download {{ SYSTEM_SETTINGS.cv_label }}</v-btn>
        <v-btn
          block
          color="primary"
          href="{% url 'contacts:candidates_edit' object.pk %}">Edit</v-btn>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let contactName = '{{ object.name }}';
      let data = {
        isMedical:  {{object.is_medical|yesno:'true,false'}},
      };
    </script>
  {% endaddtoblock %}   

  {% addtoblock "js" %}
    <script src="{% static 'contacts/candidateDetail.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}