{% extends "contacts/base.html" %}

{% block title %}
Candidates - New
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>New Candidate</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          <v-text-field
            label="Name"
            outlined
            name="name"
            required>
          </v-text-field>

          <v-text-field
            label="Contact Number"
            outlined
            name="contact_number">
          </v-text-field>

          <v-text-field
            label="Email Address"
            outlined
            name="email_address"
            type="email">
          </v-text-field>

          <v-autocomplete
            v-model="locations"
            :items="items"
            dense
            label="Location"
            outlined
            v-model.lazy="location">
          </v-autocomplete>
          <input type="hidden" name="location" v-model="location">
          <v-input>
          <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      breadcrumbs: [
        {
          text: 'Dashboard',
          disabled: false,
          href: '/',
        },
        {
          text: 'Contacts',
          disabled: false,
          href: '{% url "contacts:index" %}',
        },
        {
          text: 'Candidates',
          disabled: false,
          href: '{% url "contacts:candidates_list" %}',
        },
        {
          text: 'New',
          disabled: true,
        }
      ],
      items: [
        'Philippines',
        'UAE',
      ],
      locations: null,
      location: '',
    })

  });
</script>  
{% endblock script %}