{% extends "contacts/base.html" %}
{% load static %}

{% block title %}
Candidates - List
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Candidates List</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12">
        <input type="hidden" id="ownersChoices" value="{{ owners }}">
        <form id="nameSearchForm" ref="nameSearchForm">
          <v-container fluid>
            <v-row>
              <v-col cols="12" md="3" class="py-0">
                <v-text-field
                  outlined
                  dense
                  label="Search name"
                  name="name"
                  clearable
                  value="{{ search_name|default_if_none:'' }}">
                </v-text-field>
              </v-col>

              <v-col cols="12" md="3" class="py-0">
                {% include "_includes/_auto_complete.html" with model='owner' label="Owner" items='owners' item_value='value' item_text='text' multiple='multiple' %}
                <input type="hidden" name="owners" :value="owner">
              </v-col>

              <v-col cols="12" md="3" class="pa-0">
                {% include "_includes/_button_search.html" %}
              </v-col>
            </v-row>
          </v-container>
        </form>
      </v-col>
  
      <v-col cols="12" class="pa-0">
        <v-btn absolute right color="primary" href="{% url 'contacts:candidates_new' %}">New</v-btn>
      </v-col>
      <v-col cols="12">
        <v-simple-table>
          <table>
            <thead>
              <th class="text-center">Name</th>
              <th class="text-center">Email Address</th>
              <th class="text-center">Contact No.</th>
              <th class="text-center">Nationality</th>
              <th class="text-center">Language</th>
              <th class="text-center">Owner</th>
              <th class="text-center">Actions</th>
            </thead>
            <tbody>
              {% for candidate in object_list %}
              <tr>
                <td class="text-center">{{ candidate.name }}</td>
                <td class="text-center">{{ candidate.email_address }}</td>
                <td class="text-center">{{ candidate.contact_number }}</td>
                <td class="text-center">{{ candidate.nationality }}</td>
                <td class="text-center">{{ candidate.language }}</td>
                <td class="text-center">{{ candidate.candidate_owner }}</td>
                <td class="text-center">
                  {% include "_includes/list_action_buttons.html" with edit_href=candidate.edit_href view_href=candidate.view_href %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </v-simple-table>
      </v-col>

      <v-col cols="12">
        <v-container class="max-width">
          {% include "_includes/pagination.html" %}
        </v-container>
      </v-col> <!-- Pagination -->
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}

{% if debug %}
  <script src="{% static "vendor/lodash/lodash.js" %}"></script>
{% else %}
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
{% endif %}

<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Contacts',
          disabled: false,
          href: '{% url "contacts:index" %}',
        },
        {
          text: 'Candidates',
          disabled: true,
          href: '{% url "contacts:candidates_list" %}',
        },
      ],
      page: {{ page_obj.number|default_if_none:0 }},
      pageLength: {{ paginator.num_pages|default_if_none:0 }},
      owners: [],
      owner: '{{ owners_query|default_if_none:"" }}',
    }),

    computed: {
      orderedNationalities: function () {
        return _.sortBy(this.nationalities, ['nationality']);
      }
    },

    methods:{
      setDataChoices: function(sourceId, setDataVariable) {
        let data = document.getElementById(sourceId).value;
        this.$set(this, setDataVariable, JSON.parse(data));
      },
      transformDataStringToArray: function(dataVariable) {
        // transform status into array
        let variable = this[dataVariable] ? this[dataVariable].split(',') : [];
        this[dataVariable] = variable;
      },

      {% include "_includes/js/pageGoTo.js" %}
    },

    beforeMount() {
      this.setDataChoices('ownersChoices', 'owners');
      this.transformDataStringToArray('owner');
    },

    mounted(){
      this.updateBreadcrumbs();
    }

  });
</script>  
{% endblock script %}