{% extends "contacts/base.html" %}
{% load static sekizai_tags %}

{% block title %}
{{ object.name }} - Update Candidate
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.name }} - Update Candidate</h1>
    <p>Date created: <span>{{ object.created|date:SYSTEM_SETTINGS.display_date_format }}</span></p>
    <v-row
      align="center"
      justify="end"
    >
      <v-col>
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              class="float-right"
              type="submit"
              form="form--candidate"
              icon>
              <v-icon class="success--text">mdi-content-save-outline</v-icon>
            </v-btn>
          </template>

          <span>Save</span>
        </v-tooltip>
        {% include "_includes/page_action_item.html" with click_action="isDisplayExpansionPanel = !isDisplayExpansionPanel" icon="[[ displayIcon ]]" tooltip="Change Display" %}
      </v-col>
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post"
          id="form--candidate">
          <input type="hidden" id="dataVisaStatusChoices" value="{{ visa_status_objects }}">
          <input type="hidden" id="dataCVTemplatesChoices" value="{{ cv_templates }}">
          <input type="hidden" id="dataCandidateOwnerChoices" value="{{ employees }}">
          <input type="hidden" id="dataLocationChoices" value="{{ locations }}">
          <input type="hidden" id="dataNationalityChoices" value="{{ nationalities }}">
          {% csrf_token %}
          
          {% if form.errors %}
            {% include "_includes/errors.html" %}
          {% endif %}

            <v-expansion-panels
              v-if="isDisplayExpansionPanel"
              multiple
              v-model="panel">
              <v-expansion-panel>
                <v-expansion-panel-header color="primary white--text">
                  <span><v-icon small class="px-2 white--text">mdi-contacts</v-icon><span>Contact Details</span></span>
                </v-expansion-panel-header>
                <v-expansion-panel-content class="pt-2">
                  <div
                    v-for="(field, index) in fields.contactDetails"
                    :key="index">
                      <template
                        v-if="field.fieldType.value == 'textfield'">
                          {% include "_includes/model_fields/textfield.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'autocomplete'">
                          {% include "_includes/model_fields/autocomplete.html" %}
                        </template>
                  </div>
                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-header color="primary white--text">
                  <span><v-icon small class="px-2 white--text">mdi-account</v-icon><span>Personal</span></span>
                </v-expansion-panel-header>
                <v-expansion-panel-content class="pt-2">
                  <div
                    v-for="(field, index) in fields.personal"
                    :key="index">
                      <template
                        v-if="field.fieldType.value == 'textfield'">
                          {% include "_includes/model_fields/textfield.html" %}
                        </template>
                      <template
                        v-else-if="field.fieldType.value == 'datetextfield'">
                          {% include "_includes/model_fields/textfield_date.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'textarea'">
                          {% include "_includes/model_fields/textarea.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'select'">
                          {% include "_includes/model_fields/select.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'autocomplete'">
                          {% include "_includes/model_fields/autocomplete.html" %}
                      </template>

                      <template
                        v-else-if="field.fieldType.value == 'confirmCheckbox'">
                        <v-checkbox
                          v-show="$root[field.needToConfirmModel]"
                          v-model="$data[field.model]"
                          :error="$data[field.needToConfirmModel]"
                          :label="field.label"
                          :required="$data[field.needToConfirmModel]"></v-checkbox>
                        <input
                          :name="field.name"
                          :required="$data[field.needToConfirmModel]"
                          :value="$data[field.model]"
                          type="hidden">
                      </template>
                  </div>
                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-header color="primary white--text">
                  <span><v-icon small class="px-2 white--text">mdi-undo</v-icon><span>Current/Previous Work</span></span>
                </v-expansion-panel-header>
                <v-expansion-panel-content class="pt-2">
                  <div
                    v-for="(field, index) in fields.currentPreviousWork"
                    :key="index">
                      <template
                        v-if="field.fieldType.value == 'textfield'">
                          {% include "_includes/model_fields/textfield.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'textarea'">
                          {% include "_includes/model_fields/textarea.html" %}
                        </template>
                  </div>
                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-header color="primary white--text">
                  <span><v-icon small class="px-2 white--text">mdi-information</v-icon><span>Others</span></span>
                </v-expansion-panel-header>
                <v-expansion-panel-content class="pt-2">
                  <div
                    v-for="(field, index) in fields.others"
                    :key="index">
                      <template
                        v-if="field.fieldType.value == 'textfield'">
                          {% include "_includes/model_fields/textfield.html" %}
                        </template>
                      <template
                        v-else-if="field.fieldType.value == 'textarea'">
                          {% include "_includes/model_fields/textarea.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'select'">
                          {% include "_includes/model_fields/select.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'autocomplete'">
                          {% include "_includes/model_fields/autocomplete.html" %}
                      </template>
                  </div>
                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-header color="primary white--text">
                  <span><v-icon small class="px-2 white--text">mdi-medical-bag</v-icon><span>Medical</span></span>
                </v-expansion-panel-header>
                <v-expansion-panel-content  class="pt-2">
                  <v-checkbox v-model="isMedical" label="Medical?"></v-checkbox>
                  <input type="hidden" name="is_medical" :value="isMedical">

                  <div v-show="isMedical">
                    <div
                      v-for="(field, index) in fields.medical"
                      :key="index">
                        <template
                          v-if="field.fieldType.value == 'slider'">
                            {% include "_includes/model_fields/slider.html" %}
                          </template>

                        <template
                          v-if="field.fieldType.value == 'textfield'">
                            {% include "_includes/model_fields/textfield.html" %}
                          </template>
                        <template
                          v-else-if="field.fieldType.value == 'datetextfield'">
                            {% include "_includes/model_fields/textfield_date.html" %}
                          </template>

                        <template
                          v-else-if="field.fieldType.value == 'textarea'">
                            {% include "_includes/model_fields/textarea.html" %}
                          </template>

                        <template
                          v-else-if="field.fieldType.value == 'select'">
                            {% include "_includes/model_fields/select.html" %}
                          </template>
                    </div>
                  </div>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>

            <template v-else>
              <v-tabs
                v-model="tab"
                fixed-tabs
                class="my-2">
                {% include "_includes/v_tab.html" %}
              </v-tabs>

              <v-tabs-items v-model="tab">
                <v-tab-item id="Contact Details" eager>
                  <div
                    v-for="(field, index) in fields.contactDetails"
                    :key="index">
                      <template
                        v-if="field.fieldType.value == 'textfield'">
                          {% include "_includes/model_fields/textfield.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'autocomplete'">
                          {% include "_includes/model_fields/autocomplete.html" %}
                        </template>
                  </div>
                </v-tab-item> <!-- Basic -->

                <v-tab-item id="Personal" eager>
                  <div
                    v-for="(field, index) in fields.personal"
                    :key="index">
                      <template
                        v-if="field.fieldType.value == 'textfield'">
                          {% include "_includes/model_fields/textfield.html" %}
                        </template>
                      <template
                        v-else-if="field.fieldType.value == 'datetextfield'">
                          {% include "_includes/model_fields/textfield_date.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'textarea'">
                          {% include "_includes/model_fields/textarea.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'select'">
                          {% include "_includes/model_fields/select.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'autocomplete'">
                          {% include "_includes/model_fields/autocomplete.html" %}
                      </template>

                      <template
                        v-else-if="field.fieldType.value == 'confirmCheckbox'">
                        <v-checkbox
                          v-show="$root[field.needToConfirmModel]"
                          v-model="$data[field.model]"
                          :error="$data[field.needToConfirmModel]"
                          :label="field.label"
                          :required="$data[field.needToConfirmModel]"></v-checkbox>
                        <input
                          :name="field.name"
                          :required="$data[field.needToConfirmModel]"
                          :value="$data[field.model]"
                          type="hidden">
                      </template>
                  </div>
                </v-tab-item>  <!-- Personal -->

                <v-tab-item id="Current/Previous Work" eager>
                  <div
                    v-for="(field, index) in fields.currentPreviousWork"
                    :key="index">
                      <template
                        v-if="field.fieldType.value == 'textfield'">
                          {% include "_includes/model_fields/textfield.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'textarea'">
                          {% include "_includes/model_fields/textarea.html" %}
                        </template>
                  </div>
                </v-tab-item>  <!-- Work history -->

                <v-tab-item id="Others" eager>
                  <div
                    v-for="(field, index) in fields.others"
                    :key="index">
                      <template
                        v-if="field.fieldType.value == 'textfield'">
                          {% include "_includes/model_fields/textfield.html" %}
                        </template>
                      <template
                        v-else-if="field.fieldType.value == 'textarea'">
                          {% include "_includes/model_fields/textarea.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'select'">
                          {% include "_includes/model_fields/select.html" %}
                        </template>

                      <template
                        v-else-if="field.fieldType.value == 'autocomplete'">
                          {% include "_includes/model_fields/autocomplete.html" %}
                      </template>
                  </div>
                </v-tab-item>  <!-- Others -->

                <v-tab-item id="Medical" eager>
                  <v-checkbox v-model="isMedical" label="Medical?"></v-checkbox>
                  <input type="hidden" name="is_medical" :value="isMedical">

                  <div v-show="isMedical">
                    <div
                      v-for="(field, index) in fields.medical"
                      :key="index">
                        <template
                          v-if="field.fieldType.value == 'slider'">
                            {% include "_includes/model_fields/slider.html" %}
                          </template>

                        <template
                          v-if="field.fieldType.value == 'textfield'">
                            {% include "_includes/model_fields/textfield.html" %}
                          </template>
                        <template
                          v-else-if="field.fieldType.value == 'datetextfield'">
                            {% include "_includes/model_fields/textfield_date.html" %}
                          </template>

                        <template
                          v-else-if="field.fieldType.value == 'textarea'">
                            {% include "_includes/model_fields/textarea.html" %}
                          </template>

                        <template
                          v-else-if="field.fieldType.value == 'select'">
                            {% include "_includes/model_fields/select.html" %}
                          </template>
                    </div>
                  </div>
                </v-tab-item>  <!-- Medical -->
              </v-tabs-items>
            </template>
        </v-form>
      </v-col>
    </v-row>
  </v-container>

  {% addtoblock "js" %}
    <script>
      let urlCandidate = '{% url "contacts:candidates_detail" object.pk %}';
      let contactName = '{{ object.name }}';
      let data = {
        code: "{{ form.code.value }}",
        contactNumber: "{{ form.contact_number.value }}",
        alternateContactNumber: "{{ form.alternate_contact_number.value }}",
        emailAddress: "{{ form.email_address.value }}",
        skypeId: "{{ form.skype_id.value }}",
        msTeamsId: "{{ form.ms_teams_id.value }}",
        name: "{{ form.name.value }}",
        languages: "{{ form.languages.value|escapejs }}",
        preferredLocation: "{{ form.preferred_location.value }}",
        civilStatus: "{{ form.civil_status.value|default_if_none:'' }}",
        gender: "{{ form.gender.value|default_if_none:'' }}",
        dependents: "{{ form.dependents.value|default_if_none:''|escapejs }}",
        dateOfBirth: "{{ form.date_of_birth.value|date:'Y-m-d' }}",
        highestEducationalQualification: "{{ form.highest_educational_qualification.value|escapejs }}",
        currentPreviousPosition: "{{ form.current_previous_position.value|default_if_none:'' }}",
        currentPreviousCompany: "{{ form.current_previous_company.value|default_if_none:'' }}",
        currentPreviousSalary: "{{ form.current_previous_salary.value|default_if_none:''|escapejs }}",
        motivationForLeaving: "{{ form.motivation_for_leaving.value|escapejs }}",
        expectedSalary: "{{ form.expected_salary.value|default_if_none:''|escapejs }}",
        availabilityForInterview: "{{ form.availability_for_interview.value }}",
        noticePeriod: "{{ form.notice_period.value }}",
        notes: "{{ form.notes.value|escapejs }}",
        specialization: "{{ form.specialization.value|escapejs }}",
        otherCertifications: "{{ form.other_certifications.value|escapejs }}",
        jobTitleOnDhaHaad: "{{ form.job_title_on_dha_haad.value|default_if_none:'' }}",
        blsValidity: "{{ form.bls_validity.value|date:"Y-m-d" }}",
        aclsValidity: "{{ form.acls_validity.value|date:"Y-m-d" }}",
        haadDhaLicenseType: "{{ form.haad_dha_license_type.value }}",
        haadDhaLicenseValidity: "{{ form.haad_dha_license_validity.value|date:"Y-m-d" }}",
        dataflowLastUpdate: "{{ form.dataflow_last_update.value|date:"Y-m-d" }}",
        location: '{{ form.location.value }}',
        industry: '{{ form.industry.value }}',
        nationality: '{{ form.nationality.value }}',
        visaStatus: '{{ form.visa_status.value|default_if_none:"" }}',
        candidateOwner: '{{ form.candidate_owner.value|default_if_none:'' }}',
        isMedical: {{ form.is_medical.value|yesno:"true,false" }},
        medicalExperience: {{ form.medical_experience_in_years.value }},
        cvTemplate: '{{ form.cv_template.value|default_if_none:'' }}',
        hasConfirmed: {{ form.has_confirmed.value|yesno:'true,false' }},
        needToConfirm: {{ form.need_to_confirm|yesno:'true,false' }},
      }
    </script>
  {% endaddtoblock %}  

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinNeedToConfirm.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinDisplayChange.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'contacts/candidateUpdate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}