{% extends "contacts/base.html" %}

{% block title %}
Clients - List
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Clients List</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12">
        {% include "_includes/filter_name.html" %}
      </v-col>

      <v-col cols="12" class="pa-0">
        <v-btn absolute right color="primary" href="{% url 'contacts:clients_new' %}">New</v-btn>
      </v-col>
      <v-col cols="12">
        <v-simple-table>
          <table>
            <thead>
              <th class="text-center">Name</th>
              <th class="text-center">Industry</th>
              <th class="text-center">Email Address</th>
              <th class="text-center">Contact No.</th>
              <th class="text-center">Actions</th>
            </thead>
            <tbody>
              {% for client in object_list %}
              <tr>
                <td class="text-center">{{ client.name }}</td>
                <td class="text-center">{{ client.industry }}</td>
                <td class="text-center">
                  {% if client.email_address %}
                    <a href="mailto:{{ client.email_address }}">{{ client.email_address }}</a>
                  {% endif %}
                </td>
                <td class="text-center">{{ client.contact_number}}</td>
                <td class="text-center">
                  {% include "_includes/list_action_buttons.html" with edit_href=client.edit_href view_href=client.view_href %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </v-simple-table>
      </v-col>

      <v-col cols="12">
        <v-container class="max-width">
          {% include "_includes/pagination.html" %}
        </v-container>
      </v-col> <!-- Pagination -->
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Contacts',
          disabled: false,
          href: '{% url "contacts:index" %}',
        },
        {
          text: 'Clients',
          disabled: true,
        },
      ],
      page: {{ page_obj.number|default_if_none:0 }},
      pageLength: {{ paginator.num_pages|default_if_none:0 }},
    }),

    methods: {
      pageGoTo: function (page) {
        let url = '{% url "reports:pipeline_summary" %}';
        url = `${url}?page=${this.page}`;
        window.location.href = url;
      }
    },

    mounted(){
      this.updateBreadcrumbs();
    }
  });
</script>  
{% endblock script %}