{% extends "contacts/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Clients - List
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>Clients List</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12">
        <form id="nameSearchForm" ref="nameSearchForm">
          <v-container fluid>
            <v-row>

              <v-col cols="12" md="2" class="py-0">
                <v-text-field
                  outlined
                  dense
                  label="Search name"
                  name="name"
                  clearable
                  value="{{ search_name|default_if_none:'' }}">
                </v-text-field>
              </v-col>

              <v-col cols="12" md="2" class="py-0">
                <v-autocomplete
                  :items="employees"
                  label="Business Development Person"
                  v-model.lazy="bdPerson"
                  name='bd_person'
                  prepend-inner-icon="mdi-account-cog"
                  clearable
                  dense
                  outlined>
                </v-autocomplete>
              </v-col>

              <v-col cols="12" md="1" class="pa-0">
                {% include "_includes/_button_search.html" %}
              </v-col>
            </v-row>
          </v-container>
        </form>
        <input type="hidden" id="employeesChoices" value="{{ employees }}">
      </v-col>

      <v-col cols="12" class="pa-0">
        <v-btn absolute right color="primary" href="{% url 'contacts:clients_new' %}">New</v-btn>
      </v-col>
      <v-col cols="12">
        <v-simple-table>
          <table>
            <thead>
              <th class="text-center">Name</th>
              <th class="text-center">Email Address</th>
              <th class="text-center">Contact No.</th>
              <th class="text-center">Validity</th>
              <th class="text-center" title="Business Development Person">BD Person</th>
              <th class="text-center">Actions</th>
            </thead>
            <tbody>
              {% for client in object_list %}
              <tr>
                <td class="text-center">{{ client.name }}</td>
                <td class="text-center">
                  {% if client.email_address %}
                    <a href="mailto:{{ client.email_address }}">{{ client.email_address }}</a>
                  {% endif %}
                </td>
                <td class="text-center">{{ client.contact_number}}</td>
                <td class="text-center">{{ client.validity|date:SYSTEM_SETTINGS.display_date_format }}</td>
                <td class="text-center">{{ client.business_development_person.name }}</td>
                <td class="text-center">
                  {% include "_includes/list_action_buttons.html" with edit_href=client.edit_href view_href=client.view_href %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </v-simple-table>
      </v-col>

      <v-col cols="12">
        <v-container class="max-width">
          {% include "_includes/pagination.html" %}
        </v-container>
      </v-col> <!-- Pagination -->
    </v-row>
  </v-container>  

{% addtoblock "js" %}
  <script>
    let currentPage = {{ page_obj.number|default_if_none:0 }};
    let currentPageLength = {{ paginator.num_pages|default_if_none:0 }};
  </script>
{% endaddtoblock %}

  {% addtoblock "js" %}
    <script>
      let data = {
        bdPerson: '{{ bd_person|default_if_none:"" }}',
      };
    </script>
  {% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static 'contacts/clientList.js' %}"></script>
{% endaddtoblock %}

{% endblock subcontent %}

