{% extends "contacts/base.html" %}
{% load static %}

{% block title %}
{{ object.name }} - Update Client
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.name }} - Update Client</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" id="dataLocationChoices" value="{{ locations }}">
          <input type="hidden" id="dataIndustryChoices" value="{{ industries }}">
          {% for error in form.errors %}
            <v-list-item>{{ error }}</v-list-item>
          {% endfor %}
            <v-tabs
              v-model="tab"
              fixed-tabs>
              {% include "_includes/v_tab.html" %}
            </v-tabs>

            <v-tabs-items v-model="tab">
              <v-tab-item id="Contact Details" eager>
                <v-text-field
                  label="Name"
                  outlined
                  name="name"
                  required
                  value="{{ form.name.value }}">
                </v-text-field>

                <v-autocomplete
                  :items="industries"
                  label="Industry"
                  v-model.lazy="industry"
                  name="industry"
                  item-value="text"
                  dense
                  outlined
                  required>
                </v-autocomplete>

                <v-autocomplete
                  :items="locations"
                  item-value="text"
                  dense
                  label="Location"
                  outlined
                  v-model.lazy="location"
                  name="location">
                </v-autocomplete>

                <v-text-field
                  label="Contact Number"
                  outlined
                  name="contact_number"
                  value="{{ form.contact_number.value }}">
                </v-text-field>

                <v-text-field
                  label="Alternate Contact Number"
                  outlined
                  name="alternate_contact_number"
                  value="{{ form.alternate_contact_number.value }}">
                </v-text-field>

                <v-text-field
                  label="Email Address"
                  outlined
                  name="email_address"
                  type="email"
                  value="{{ form.email_address.value }}">
                </v-text-field>

                <v-text-field
                  label="Skype ID"
                  outlined
                  name="skype_id"
                  value="{{ form.skype_id.value }}">
                </v-text-field>

                <v-text-field
                  label="MS Teams ID"
                  outlined
                  name="ms_teams_id"
                  value="{{ form.ms_teams_id.value }}">
                </v-text-field>
              </v-tab-item> <!-- Basic -->

              <v-tab-item id="Others" eager>

                <v-textarea
                  name="initial_approach"
                  label="Initial Approach"
                  outlined
                  value="{{ form.initial_approach.value }}"
                ></v-textarea>

                <v-textarea
                  name="meeting_arranged"
                  label="Meeting Arranged"
                  outlined
                  value="{{ form.meeting_arranged.value }}"
                ></v-textarea>

                <v-text-field
                  label="Agreement Term"
                  type="number"
                  step="0.00001"
                  name="agreement_term"
                  v-model.lazy="agreementTerm"
                  outlined>
                </v-text-field>

                <v-text-field
                  label="Agreement Fee"
                  outlined
                  type='number'
                  name="agreement_fee"
                  type="number"
                  step="0.0000000001"
                  v-model.lazy="agreementFee">
                </v-text-field>

                <v-textarea
                  name="refund_scheme"
                  label="Refund Scheme"
                  outlined
                  value="{{ form.refund_scheme.value }}"
                ></v-textarea>

                <v-text-field
                  label="Validity"
                  outlined
                  type='date'
                  name="validity"
                  value="{{ form.validity.value|default_if_none:''|date:'Y-m-d' }}">
                </v-text-field>

                <v-simple-table>
                  <table>
                    <thead>
                      <tr>
                        <th colspan="4">Point of Contacts</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr
                          v-for="(contact, k) in pointOfContacts"
                          :key="k">
                          <td colspan="4">
                            <v-row
                              align="center"
                              justify="center">
                                <v-col cols=12 md=3>
                                  <v-text-field
                                    label="Name"
                                    outlined
                                    name="pocName"
                                    v-model.lazy="contact.name">
                                  </v-text-field>
                                </v-col>

                                <v-col cols=12 md=3>
                                  <v-text-field
                                    label="Contact Number"
                                    outlined
                                    name="pocNumber"
                                    v-model.lazy="contact.number">
                                  </v-text-field>
                                </v-col>

                                <v-col cols=12 md=2>
                                  <v-text-field
                                    label="Email Address"
                                    type="email"
                                    outlined
                                    name="pocEmail"
                                    v-model.lazy="contact.email">
                                  </v-text-field>
                                </v-col>

                                <v-col cols=12 md=3>
                                  <v-text-field
                                    label="Notes"
                                    outlined
                                    name="pocNotes"
                                    v-model.lazy="contact.notes">
                                  </v-text-field>
                                </v-col>
                                <v-col cols=12 md=1>
                                  <v-btn block icon @click="removePoc(k)"><v-icon>mdi-close-circle</v-icon></v-btn>
                                </v-col>
                              </v-row>
                          </td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr v-if="!pointOfContacts.length">
                        <td colspan="4">No data.</td>
                      </tr>
                      <tr>
                        <td colspan="4" @click="newPointOfContact"><v-icon class="px-2">mdi-plus</v-icon>Point of Contact</td>
                      </tr>
                    </tfoot>
                  </table>
                </v-simple-table>
                <input ref="pointOfContacts" type="hidden" value="{{ form.instance.point_of_contacts|default_if_none:'[]' }}">
                <input type="hidden" name="point_of_contacts" :value="stringPointOfContacts">
                
              </v-tab-item> <!-- Others -->
            </v-tabs-items>

            <v-input>
              <v-btn class="my-2" block color="success" type="submit">Save</v-btn>
            </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  
{% endblock subcontent %}

{% block script %}
{% if debug %}
  <script src="{% static "vendor/lodash/lodash.js" %}"></script>
{% else %}
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
{% endif %}

<script>
  new Vue({
    el: '#inspire',
    vuetify: new Vuetify(),

    props: {
      source: String,
    },

    data: () => ({
      drawer: null,
      subBreadcrumbs: [
        {
          text: 'Contacts',
          disabled: false,
          href: '{% url "contacts:index" %}',
        },
        {
          text: 'Clients',
          disabled: false,
          href: '{% url "contacts:clients_list" %}',
        },
        {
          text: '{{ object.name }}',
          disabled: false,
          href: '{% url "contacts:clients_detail" object.pk %}',
        },
        {
          text: 'Edit',
          disabled: true,
        }
      ],
      tab: null,
      tabs: [
        {
          tab: 'Contact Details',
          icon: 'fas fa-address-book',  
        },
        {
          tab: 'Others',
          icon: 'fas fa-info',  
        },
      ],
      locations: [],
      location: '{{ form.location.value }}',
      industries: [],
      industry: '{{ form.industry.value }}',
      agreementTerm: {{ form.instance.agreement_term }},
      agreementFee: {{ form.instance.agreement_fee }},
      pointOfContacts: [],
      defaultPointOfContact: {
        name: '',
        number: '',
        email: '',
      },
    }),

    computed: {
      stringPointOfContacts: function () {
        // clean first
        let defaultPoc = {
          name: '',
          number: '',
          email: '',
          notes: '',
        }
        let pointOfContacts = this.pointOfContacts;
        let poc = _.filter(pointOfContacts, (poc) => {
          return poc.name.length;
        });
        return JSON.stringify(poc);
      }
    },

    methods: {
      setDataChoices: function(sourceId, setDataVariable) {
        let data = document.getElementById(sourceId).value;
        this.$set(this, setDataVariable, JSON.parse(data));
      },
      setPointOfContacts: function() {
        let poc = this.$refs.pointOfContacts.value;
        poc = poc ? JSON.parse(poc) : [];
        this.pointOfContacts = poc;
      },
      newPointOfContact: function () {
        this.pointOfContacts.push({
          name: '',
          number: '',
          email: '',
          notes: '',
        });
      },
      removePoc: function (index) {
        this.pointOfContacts.splice(index, 1);
      }
    },

    beforeMount(){
      this.setDataChoices('dataLocationChoices', 'locations');
      this.setDataChoices('dataIndustryChoices', 'industries');
      this.updateBreadcrumbs();
    },
    mounted(){
      this.setPointOfContacts();
    }

  });
</script>  
{% endblock script %}