{% extends "contacts/base_clients.html" %}
{% load static sekizai_tags %}

{% block title %}
{{ object.name }} - Update Client
{% endblock title %}

{% block client %}
  <v-container
    fluid>
    <h1>{{ object.name }} - Update Client</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post">
          {% csrf_token %}
          <input type="hidden" id="dataCandidateOwnerChoices" value="{{ employees }}">
          <input type="hidden" id="dataLocationChoices" value="{{ locations }}">
          <input type="hidden" id="dataIndustryChoices" value="{{ industries }}">
          
          {% if form.errors %}
            {% include "_includes/errors.html" %}
          {% endif %}

            <v-tabs
              v-model="tab"
              fixed-tabs>
              {% include "_includes/v_tab.html" %}
            </v-tabs>

            <v-tabs-items v-model="tab">
              <v-tab-item id="Contact Details" eager>
                <div
                  v-for="(field, index) in fields.contactDetails"
                  :key="index">
                    <template
                      v-if="field.fieldType.value == 'textfield'">
                        {% include "_includes/model_fields/textfield.html" %}
                      </template>

                    <template
                      v-else-if="field.fieldType.value == 'autocomplete'">
                        {% include "_includes/model_fields/autocomplete.html" %}
                      </template>
                </div>
              </v-tab-item> <!-- Basic -->

              <v-tab-item id="Others" eager>
                <div
                  v-for="(field, index) in fields.others"
                  :key="index">
                    <template
                      v-if="field.fieldType.value == 'textfield'">
                        {% include "_includes/model_fields/textfield.html" %}
                      </template>
                    <template
                      v-if="field.fieldType.value == 'textfieldModeled'">
                        {% include "_includes/model_fields/textfield_modeled.html" %}
                      </template>

                    <template
                      v-else-if="field.fieldType.value == 'datetextfield'">
                        {% include "_includes/model_fields/textfield_date.html" %}
                      </template>

                    <template
                      v-else-if="field.fieldType.value == 'textarea'">
                        {% include "_includes/model_fields/textarea.html" %}
                      </template>

                    <template
                      v-else-if="field.fieldType.value == 'autocomplete'">
                        {% include "_includes/model_fields/autocomplete.html" %}
                      </template>

                    <template
                      v-else-if="field.fieldType.value == 'pointOfContacts'">
                      {% include "contacts/includes/point_of_contacts_table_edit.html" %}
                    </template>
                </div>
              </v-tab-item> <!-- Others -->
            </v-tabs-items>

            <v-input>
              <v-btn class="my-2" block color="success" type="submit">Save</v-btn>
            </v-input>
        </v-form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script>
      let urlClient = '{% url "contacts:clients_detail" object.pk %}';
      let contactName = '{{ object.name }}';
      let data = {
        name: "{{ form.name.value|default_if_none:'' }}",
        location: '{{ form.location.value|default_if_none:'' }}',
        industry: '{{ form.industry.value|default_if_none:'' }}',
        contactNumber: "{{ form.contact_number.value|default_if_none:'' }}",
        alternateContactNumber: "{{ form.alternate_contact_number.value }}",
        emailAddress: "{{ form.email_address.value|default_if_none:'' }}",
        skypeId: "{{ form.skype_id.value|default_if_none:'' }}",
        msTeamsId: "{{ form.ms_teams_id.value|default_if_none:'' }}",
        initialApproach: "{{ form.initial_approach.value }}",
        meetingArranged: "{{ form.meeting_arranged.value|escapejs }}",
        agreementTerm: {{ form.instance.agreement_term }},
        agreementTermDisabled: {{ form.agreement_term.field.disabled|yesno:'true,false' }},
        agreementFee: {{ form.instance.agreement_fee }},
        agreementFeeDisabled: {{ form.agreement_fee.field.disabled|yesno:'true,false' }},
        refundScheme: '{{ form.refund_scheme.value|default_if_none:''|escapejs }}',
        refundSchemeDisabled: {{ form.refund_scheme.field.disabled|yesno:'true,false' }},
        businessDevelopmentPerson: '{{ form.business_development_person.value|default_if_none:'' }}',
        validity: "{{ form.instance.validity|default_if_none:''|date:'Y-m-d' }}",
        validityDisabled: {{ form.validity.field.disabled|yesno:'true,false' }},
        signedOn: "{{ form.instance.signed_on|default_if_none:''|date:'Y-m-d' }}",
        signedOnDisabled: {{ form.signed_on.field.disabled|yesno:'true,false' }},
        notes: "{{ form.notes.value|default_if_none:''|escapejs }}",
      }
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'contacts/clientUpdate.js' %}"></script>
  {% endaddtoblock %}
{% endblock client %}