{% extends "contacts/base_clients.html" %}
{% load static sekizai_tags %}

{% block title %}
Clients - New
{% endblock title %}

{% block client %}
  <v-container
    fluid>
    <h1>New Client</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" id="dataLocationChoices" value="{{ locations }}">
          <input type="hidden" id="dataIndustryChoices" value="{{ industries }}">
          {% for error in form.errors %}
            <v-list-item>{{ error }}</v-list-item>
          {% endfor %}
          <v-text-field
            label="Name"
            outlined
            name="name"
            required
            value="{{ form.name.value|default_if_none:'' }}">
          </v-text-field>

          <v-autocomplete
            :items="industries"
            label="Industry"
            v-model.lazy="industry"
            name="industry"
            dense
            outlined
            required>
          </v-autocomplete>

          <v-text-field
            label="Contact Number"
            outlined
            name="contact_number"
            value="{{ form.contact_number.value|default_if_none:'' }}">
          </v-text-field>

          <v-text-field
            label="Email Address"
            outlined
            name="email_address"
            type="email"
            value="{{ form.email_address.value|default_if_none:'' }}">
          </v-text-field>

          <v-autocomplete
            :items="locations"
            item-value="text"
            dense
            label="Location"
            outlined
            v-model.lazy="location"
            name='location'>
          </v-autocomplete>
          <v-input>
          <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script>
      let data = {
        location: '{{ form.location.value }}',
        industry: '{{ form.industry.value }}',
        industries: [],
      };
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'contacts/clientCreate.js' %}"></script>
  {% endaddtoblock %}
{% endblock client %}