{% extends "contacts/base_clients.html" %}
{% load static sekizai_tags %}

{% block title %}
Client Detail - {{ object.name }}
{% endblock title %}

{% block client %}
  <v-container
    fluid>
    <h1>{{ object.name }} - Client Detail</h1>
    <p>Industry - <strong>{{ object.industry }}</strong></p>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-tabs
          v-model="tab"
          fixed-tabs>

          {% include "_includes/v_tab.html" %}

          <v-tabs-items v-model="tab">
            <v-tab-item id="Contact Details" eager>
              <v-simple-table
                dense>
                <table>
                  <tbody>
                    <tr>
                      <th>Contact Number:</th>
                      <td>{{ object.contact_number }}</td>
                    </tr>
                    <tr>
                      <th>Alternate Contact Number:</th>
                      <td>{{ object.alternate_contact_number }}</td>
                    </tr>
                    <tr>
                      <th>Email Address:</th>
                      <td><a href="mailto:{{ object.email_address }}">{{ object.email_address }}</a></td>
                    </tr>
                    <tr>
                      <th>Whatsapp Link:</th>
                      <td>
                        {% if object.whatsapp_link %}
                          <a href="{{ object.whatsapp_link }}">Click here to send WhatsApp Message</a>
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <th>Skype ID:</th>
                      <td>{{ object.skype_id }}</td>
                    </tr>
                    <tr>
                      <th>MS Teams ID:</th>
                      <td>{{ object.ms_teams_id }}</td>
                    </tr>
                    <tr>
                      <th>Location:</th>
                      <td>{{ object.location }}</td>
                    </tr>
                  </tbody>
                </table>
              </v-simple-table>
            </v-tab-item>

            <v-tab-item id="Others" eager>
              <v-simple-table>
                <table>
                  <tbody>
                    <tr>
                      <th>Initial Approach:</th>
                      <td>{{ object.initial_approach }}</td>
                    </tr>
                    <tr>
                      <th>Initial Approach Date:</th>
                      <td>{{ object.initial_approach_date|date:SYSTEM_SETTINGS.display_date_format }}</td>
                    </tr>
                    <tr>
                      <th>Meeting Arranged:</th>
                      <td>{{ object.meeting_arranged }}</td>
                    </tr>
                    <tr>
                      <th>Agreement Terms (months):</th>
                      <td>{{ object.agreement_term }}</td>
                    </tr>
                    <tr>
                      <th>Agreement Fee:</th>
                      <td>{{ object.agreement_fee }}</td>
                    </tr>
                    <tr>
                      <th>Refund Scheme:</th>
                      <td>{{ object.refund_scheme }}</td>
                    </tr>
                    <tr>
                      <th>Validity:</th>
                      <td>{{ object.validity|date:SYSTEM_SETTINGS.display_date_format }}</td>
                    </tr>
                    <tr>
                      <th>Signed on:</th>
                      <td>{{ object.signed_on|date:SYSTEM_SETTINGS.display_date_format }}</td>
                    </tr>
                    <tr>
                      <th>Business Development Person:</th>
                      <td>{{ object.business_development_person.name }}</td>
                    </tr>
                    <tr>
                      <th>Notes:</th>
                      <td>{{ object.notes }}</td>
                    </tr>
                    {% include "contacts/includes/point_of_contacts_table_row.html" %}
                  </tbody>
                </table>
              </v-simple-table>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-col>
      
      <v-col cols="12" class="text-center">
        <v-btn
          block
          color="primary"
          href="{% url 'contacts:clients_edit' object.pk %}">Edit</v-btn>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let contactName = '{{ object.name }}';
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'contacts/clientDetail.js' %}"></script>
  {% endaddtoblock %}

{% endblock client %}