{% extends "contacts/base_clients.html" %}
{% load static sekizai_tags %}

{% block title %}
Clients - New
{% endblock title %}

{% block client %}
  <v-container
    fluid>
    <h1>New Client</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form 
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post">
          {% csrf_token %}
          <input type="hidden" id="dataLocationChoices" value="{{ locations }}">
          <input type="hidden" id="dataIndustryChoices" value="{{ industries }}">
          
          {% if form.errors %}
            {% include "_includes/errors.html" %}
          {% endif %}

          <div
            v-for="(field, index) in fields.contactDetails"
            :key="index">
              <template
                v-if="field.fieldType.value == 'textfield'">
                  {% include "_includes/model_fields/textfield.html" %}
                </template>

              <template
                v-else-if="field.fieldType.value == 'autocomplete'">
                  {% include "_includes/model_fields/autocomplete.html" %}
                </template>
          </div>

          <v-input>
          <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </v-form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script>
      let data = {
        location: '{{ form.location.value|default_if_none:'' }}',
        industry: '{{ form.industry.value|default_if_none:'' }}',
        name: "{{ form.name.value|default_if_none:'' }}",
        contactNumber: "{{ form.contact_number.value|default_if_none:'' }}",
        emailAddress: "{{ form.email_address.value|default_if_none:'' }}",
      };
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'contacts/clientCreate.js' %}"></script>
  {% endaddtoblock %}
{% endblock client %}