{% extends "contacts/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Supplier Detail - {{ object.name }}
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.name }} - Supplier Detail</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-tabs
          v-model="tab"
          fixed-tabs>

          {% include "_includes/v_tab.html" %}

          <v-tabs-items v-model="tab">
            <v-tab-item id="Contact Details" eager>
              <v-simple-table
                dense>
                <table>
                  <tbody>
                    <tr>
                      <th>Contact Number:</th>
                      <td>{{ object.contact_number }}</td>
                    </tr>
                    <tr>
                      <th>Alternate Contact Number:</th>
                      <td>{{ object.alternate_contact_number }}</td>
                    </tr>
                    <tr>
                      <th>Website:</th>
                      <td>{% include "_includes/link.html" with href=object.website target="_blank" text="Open Website"  %}</td>
                    </tr>
                    <tr>
                      <th>Whatsapp Link:</th>
                      <td>
                        {% if object.whatsapp_link %}
                          <a href="{{ object.whatsapp_link }}">Click here to send WhatsApp Message</a>
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <th>Skype ID:</th>
                      <td>{{ object.skype_id }}</td>
                    </tr>
                    <tr>
                      <th>MS Teams ID:</th>
                      <td>{{ object.ms_teams_id }}</td>
                    </tr>
                    <tr>
                      <th>Location:</th>
                      <td>{{ object.location }}</td>
                    </tr>
                    <tr>
                      <th>Subscription Validity:</th>
                      <td>{{ object.subscription_validity|date:SYSTEM_SETTINGS.display_date_format }}</td>
                    </tr>
                    <tr>
                      <th>Notes:</th>
                      <td>{{ object.notes }}</td>
                    </tr>

                    {% include "contacts/includes/point_of_contacts_table_row.html" with notes_label="Position" %}
                  </tbody>
                </table>
              </v-simple-table>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-col>
      
      <v-col cols="12" class="text-center">
        <v-btn
          block
          color="primary"
          href="{% url 'contacts:suppliers_edit' object.pk %}">Edit</v-btn>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let contactName = '{{ object.name }}';
    </script>
  {% endaddtoblock %}   

  {% addtoblock "js" %}
    <script src="{% static 'contacts/supplierDetail.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}