{% extends "contacts/base.html" %}
{% load static sekizai_tags %}

{% block title %}
{{ object.name }} - Update Supplier
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>{{ object.name }} - Update Supplier</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post">
          <input ref="pointOfContacts" type="hidden" value="{{ form.instance.point_of_contacts|default_if_none:'[]' }}">
          {% csrf_token %}
          
          {% if form.errors %}
            {% include "_includes/errors.html" %}
          {% endif %}

            <v-tabs
              v-model="tab"
              fixed-tabs>
              {% include "_includes/v_tab.html" %}
            </v-tabs>

            <v-tabs-items v-model="tab">
              <v-tab-item id="Contact Details" eager>
                <div
                  v-for="(field, index) in fields"
                  :key="index">
                    <template
                      v-if="field.fieldType.value == 'textfield'">
                        {% include "_includes/model_fields/textfield.html" %}
                      </template>

                    <template
                      v-else-if="field.fieldType.value == 'datetextfield'">
                        {% include "_includes/model_fields/textfield_date.html" %}
                      </template>

                    <template
                      v-else-if="field.fieldType.value == 'textarea'">
                        {% include "_includes/model_fields/textarea.html" %}
                      </template>

                    <template
                      v-else-if="field.fieldType.value == 'autocomplete'">
                        {% include "_includes/model_fields/autocomplete.html" %}
                      </template>

                    <template
                      v-else-if="field.fieldType.value == 'confirmCheckbox'">
                        {% include "_includes/model_fields/checkbox_confirm.html" %}
                    </template>

                    <template
                      v-else-if="field.fieldType.value == 'pointOfContacts'">
                      {% include "contacts/includes/point_of_contacts_table_edit.html" %}
                    </template>

                    <template
                      v-else-if="field.fieldType.value == 'confirmCheckbox'">
                      <v-checkbox
                        v-show="$root[field.needToConfirmModel]"
                        v-model="$data[field.model]"
                        :error="$data[field.needToConfirmModel]"
                        :label="field.label"
                        :required="$data[field.needToConfirmModel]"></v-checkbox>
                      <input
                        :name="field.name"
                        :required="$data[field.needToConfirmModel]"
                        :value="$data[field.model]"
                        type="hidden">
                    </template>
                </div>
              </v-tab-item> <!-- Basic -->
            </v-tabs-items>

            <v-input>
              <v-btn block color="success" type="submit">Save</v-btn>
            </v-input>
        </v-form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    {% if debug %}
      <script src="{% static "vendor/lodash/lodash.js" %}"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% endif %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script>
      let contactUrl = '{% url "contacts:suppliers_detail" object.pk %}';
      let contactName = '{{ object.name }}';
      let data = {
        name: "{{ form.name.value }}",
        contactNumber: "{{ form.contact_number.value }}",
        alternateContactNumber: "{{ form.alternate_contact_number.value }}",
        emailAddress: "{{ form.email_address.value }}",
        skypeId: "{{ form.skype_id.value }}",
        msTeamsId: "{{ form.ms_teams_id.value }}",
        notes: "{{ form.instance.notes|escapejs }}",
        hasConfirmed: {{ form.has_confirmed.value|yesno:'true,false' }},
        needToConfirm: {{ form.need_to_confirm|yesno:'true,false' }},
      };
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinNeedToConfirm.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'contacts/supplierUpdate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}