{% extends "contacts/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Supplier - New
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>New Supplier</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <form method="post">
          {% csrf_token %}
          {% for error in form.errors %}
            <v-list-item>{{ error }}</v-list-item>
          {% endfor %}
          <v-text-field
            label="Name"
            outlined
            name="name"
            required
            value="{{ form.name.value|default_if_none:'' }}">
          </v-text-field>

          <v-text-field
            label="Contact Number"
            outlined
            name="contact_number"
            value="{{ form.contact_number.value|default_if_none:'' }}">
          </v-text-field>

          <v-text-field
            label="Email Address"
            outlined
            name="email_address"
            type="email"
            value="{{ form.email_address.value|default_if_none:'' }}">
          </v-text-field>
          <v-input>
          <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script src="{% static 'contacts/supplierCreate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}