{% extends "contacts/base.html" %}
{% load static sekizai_tags %}

{% block title %}
Supplier - New
{% endblock title %}

{% block subcontent %}
  <v-container
    fluid>
    <h1>New Supplier</h1>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <v-form
          ref="form"
          v-model="valid"
          @submit="submit"
          method="post">
          {% csrf_token %}
          
          {% if form.errors %}
            {% include "_includes/errors.html" %}
          {% endif %}

          <div
            v-for="(field, index) in fields"
            :key="index">
              <template
                v-if="field.fieldType.value == 'textfield'">
                  {% include "_includes/model_fields/textfield.html" %}
                </template>
          </div>

          <v-input>
          <v-btn block color="success" type="submit">Save</v-btn>
          </v-input>
        </v-form>
      </v-col>
    </v-row>
  </v-container>  

  {% addtoblock "js" %}
    <script>
      let data = {
        name: "{{ form.name.value|default_if_none:'' }}",
        contactNumber: "{{ form.contact_number.value|default_if_none:'' }}",
        emailAddress: "{{ form.email_address.value|default_if_none:'' }}",
      };
    </script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'js/mixinForForms.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'contacts/supplierCreate.js' %}"></script>
  {% endaddtoblock %}
{% endblock subcontent %}